In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./data/clients_analysis.csv")

In [6]:
df.columns

Index(['id_secuencial', 'Idioma', 'genero', 'tratamiento', 'alta_cliente',
       'pais', 'comunicaciones_comerciales', 'alta_comunicaciones',
       'nivel_fidelizacion', 'alta_fidelizacion', 'fecha_nacimiento', 'mail',
       'Total_Reservation', 'media_estancia', 'antelacion_media',
       'facturacion', 'Canal_reserva', 'Motivo_viaje', 'ultima_reserva',
       'n_hoteles_distintos', 'acompanante'],
      dtype='object')

In [7]:
df['mail'] = df['mail'].apply(lambda x: True if x == 'MAIL' else False)
df['comunicaciones_comerciales'] = df['comunicaciones_comerciales'].apply(lambda x: True if pd.notna(x) and x.strip().upper() == 'X' else False)

In [8]:
df

,id_secuencial,Idioma,genero,tratamiento,alta_cliente,pais,comunicaciones_comerciales,alta_comunicaciones,nivel_fidelizacion,alta_fidelizacion,...,mail,Total_Reservation,media_estancia,antelacion_media,facturacion,Canal_reserva,Motivo_viaje,ultima_reserva,n_hoteles_distintos,acompanante
0,5.715.578,S,hombre,Señor,2022-03-08,ES,False,NaN,NaN,NaN,...,False,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
1,2.931.815,I,mujer,Señora,2023-04-15,IT,False,NaN,NaN,NaN,...,False,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
2,5.246.485,P,mujer,Señora,2022-05-25,BR,False,NaN,NaN,NaN,...,False,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
3,3.084.602,S,hombre,Señor,2023-03-25,ES,False,NaN,NaN,NaN,...,False,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
4,32.943,S,mujer,Señora,2024-04-27,MX,True,2024-06-10,bajo,2024-04-26,...,False,1.0,1.0,0.0,"118,8971041652",Indirecto,LEISURE,2024-04-27,1.0,Pareja
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3.650.251,S,mujer,Señora,2022-12-26,ES,False,NaN,NaN,NaN,...,False,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
99996,5.225.394,S,mujer,Señora,2022-05-28,ES,False,NaN,NaN,NaN,...,False,1.0,1.0,7.0,"159,676304",Indirecto,LEISURE,2022-05-29,1.0,Pareja
99997,3.565.607,S,mujer,Señor / Señora,2023-01-06,ES,False,NaN,NaN,NaN,...,False,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
99998,5.535.689,S,hombre,Señor,2022-04-11,ES,False,NaN,NaN,NaN,...,False,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
99999,2.165.697,S,mujer,Señora,2023-07-21,ES,False,NaN,NaN,NaN,...,False,1.0,2.0,17.0,"506,90909076",Indirecto,LEISURE,2023-07-23,1.0,Pareja

In [9]:
df['facturacion'] = df['facturacion'].str.replace('.', '', regex=False).str.replace(',', '.').astype(float)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id_secuencial               100000 non-null  object
 1   Idioma                      99998 non-null   object
 2   genero                      99562 non-null   object
 3   tratamiento                 98698 non-null   object
 4   alta_cliente                100000 non-null  object
 5   pais                        99995 non-null   object
 6   comunicaciones_comerciales  100000 non-null  bool
 7   alta_comunicaciones         6088 non-null    object
 8   nivel_fidelizacion          1750 non-null    object
 9   alta_fidelizacion           1481 non-null    object
 10  fecha_nacimiento            99674 non-null   object
 11  mail                        100000 non-null  bool
 12  Total_Reservation           59378 non-null   float64
 13  media_estancia              58828 non-null   float64
 14  antelacion_media            58910 non-null   float64
 15  facturacion                 59139 non-null   float64
 16  Canal_reserva               100000 non-null  object
 17  Motivo_viaje                58910 non-null   object
 18  ultima_reserva              58836 non-null   object
 19  n_hoteles_distintos         59378 non-null   float64
 20  acompanante                 59378 non-null   object
dtypes: bool(2), float64(5), object(14)
memory usage: 14.7+ MB