In [102]:
import pandas as pd
import numpy as np

Grupo Hotusa - Data Analyst/Scientist test.
Tarea para candidatos que aplican a un puesto de Data Analyst/Scientist en Grupo Hotusa.

Descripción de la tarea
El dataset (clients_analysis.csv) con el que trabajar contiene las siguientes columnas:

id_secuencial: Id de Cliente (valor entero).

Idioma: Idioma con el que dirigirse al cliente.

genero: Género del cliente.

tratamiento: Forma de dirigirse al cliente.

alta_cliente: Fecha de alta del cliente.

comunicaciones_comerciales: Si el cliente permite comunicaciones comerciales o no.

alta_comunicaciones: Fecha en la que el cliente aceptó las comunicaciones comerciales.

nivel_fidelizacion: Nivel en el programa de fidelización de la empresa del cliente.

alta_fidelizacion: Fecha en la que el cliente se dio de alta en el programa de fidelización.

fecha_nacimiento: Fecha de nacimiento del cliente.

mail: Si el cliente tiene un mail informado en su ficha de cliente o no.

Total_Reservation: Número total de reservas del cliente.

media_estancia: Duración media de las estancias del cliente.

antelacion_media: Antelación media con la que se hacen las reservas.

facturacion: Total de facturación del cliente.

Canal_reserva: Canal de reserva más habitual del cliente.

Motivo_viaje: Motivo del viaje/Segmento.

ultima_reserva: Fecha de la última reserva.

n_hoteles_distintos: Número de hoteles distintos en los que se ha alojado el cliente.

acompanante: Acompañante más recurrente en sus reservas.

Debes crear un report reproducible (en un notebook en Python o R) siguiendo estos pasos:

Estandarización y limpieza: Puedes observar que el csv está desordenado, las columnas no tienen una estándar en cuanto a la nomenclatura y los valores, en su mayoría, ni siquiera tienen un formato adecuado. Esto se debe a que se han recogido datos de varias fuentes diferentes. Desde el departamento de Marketing quieren usar esta información de manera que les sea sencillo filtrar y extraer los clientes a los que impactar en comunicaciones comerciales. ¿Qué tipo de limpieza, agrupaciones o estandarizaciones piensas que podrían hacerse? Realiza los que creas de importancia. [Ejemplo: transformar la columna 'mail' en booleano, estandarizar los nombres de las columnas a un único idioma, etc.]





EDA: ¿Existen columnas que no sean útiles? ¿Crees que podemos extraer alguna otra nueva? Haz un breve análisis descriptivo de los datos. Propón y realiza un par de análisis que te parezcan interesantes en cuanto a los clientes.





Propuesta de campañas: Sabiendo que queremos, por un lado, agradecer a los clientes más 'top' y, por otro, llamar la atención de aquellos clientes que creemos potenciales para que sean recurrentes en un futuro, ¿cómo identificarías o segmentarías los clientes más top? ¿Y los potenciales clientes recurrentes? ¿Qué variables echas en falta para poder afinar tu segmentación? ¿Cuáles serían tus resultados?





Modelo predictivo: Al margen de las campañas de marketing, ¿qué otro tipo de valor le darías a estos datos? ¿Qué modelo predictivo podrías crear alrededor de los clientes? ¿Sabrías cómo hacerlo?
Se valorarán las explicaciones y insights que se detecten como también que las gráficas y los resultados sean fáciles de leer. No se trata de escupir los datos, sino contar una historia con ellos. Este report lo debería poder leer tanto un perfil técnico como un perfil de negocio.

In [103]:
df = pd.read_csv("./data/clients_analysis.csv")

Cambio de idioma de todos los titulos de columna para unificar en ingles

In [104]:
df.columns = [
    'sequential_id', 'language', 'gender', 'treatment', 'customer_signup',
    'country', 'commercial_communications', 'communications_signup',
    'loyalty_level', 'loyalty_signup', 'birth_date', 'email',
    'total_reservations', 'average_stay', 'average_advance_booking',
    'billing', 'reservation_channel', 'travel_reason', 'last_reservation',
    'different_hotels', 'companion'
]

Columnas con muchos valores nulos:


commercial_communications: Tiene muchos valores nulos (93,912 de 100,000). Aunque esta columna es importante, podríamos considerar eliminarla si no podemos obtener información confiable. Sin embargo, es mejor mantenerla y explorar su impacto.


communications_signup: Similar a la columna anterior, está relacionada y tiene muchos valores nulos.


loyalty_level y loyalty_signup: Tienen muchos valores nulos pero son importantes para el análisis de fidelización.

In [105]:
df = df.drop(columns=['loyalty_signup','commercial_communications', 'communications_signup','loyalty_level'])

In [106]:
df.head()

,sequential_id,language,gender,treatment,customer_signup,country,birth_date,email,total_reservations,average_stay,average_advance_booking,billing,reservation_channel,travel_reason,last_reservation,different_hotels,companion
0,5.715.578,S,hombre,Señor,2022-03-08,ES,1951-04-16,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
1,2.931.815,I,mujer,Señora,2023-04-15,IT,1951-05-14,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
2,5.246.485,P,mujer,Señora,2022-05-25,BR,1973-01-15,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
3,3.084.602,S,hombre,Señor,2023-03-25,ES,1963-05-06,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
4,32.943,S,mujer,Señora,2024-04-27,MX,1976-01-02,MAIL,1.0,1.0,0.0,"118,8971041652",Indirecto,LEISURE,2024-04-27,1.0,Pareja

Completo con otros los nulos de la columna gender

In [107]:
df["gender"].value_counts()

gender
hombre    51219
mujer     48343
Name: count, dtype: int64

In [108]:
df["gender"] = df["gender"].fillna("Otro")

In [109]:
df["gender"].value_counts()

gender
hombre    51219
mujer     48343
Otro        438
Name: count, dtype: int64

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   sequential_id            100000 non-null  object
 1   language                 99998 non-null   object
 2   gender                   100000 non-null  object
 3   treatment                98698 non-null   object
 4   customer_signup          100000 non-null  object
 5   country                  99995 non-null   object
 6   birth_date               99674 non-null   object
 7   email                    26605 non-null   object
 8   total_reservations       59378 non-null   float64
 9   average_stay             58828 non-null   float64
 10  average_advance_booking  58910 non-null   float64
 11  billing                  59139 non-null   object
 12  reservation_channel      100000 non-null  object
 13  travel_reason            58910 non-null   object
 14  last_reservation         58836 non-null   object
 15  different_hotels         59378 non-null   float64
 16  companion                59378 non-null   object
dtypes: float64(4), object(13)
memory usage: 13.0+ MB

Trato de completar y unificar la columna treatment

In [111]:
df["treatment"].value_counts()

treatment
Señor             43643
Señora            41512
Mr.                6705
Ms.                5666
Señor / Señora     1003
Mr. / Mrs.          130
Empresa              17
Turismo              10
Agencia               9
Company               3
Name: count, dtype: int64

Voy a unificar los valores en Señor, Señora, Señor y Señora, Agencia, Empresa.

In [112]:
treatment_map = {
    'Mr.': 'Señor',
    'Ms.': 'Señora',
    'Mr. / Mrs.': 'Señor / Señora',
    'Turismo': 'Agencia',
    'Company': 'Empresa',
    # Añadir más mapeos si es necesario
}

# Aplicar el mapeo a la columna 'treatment'
df['treatment'] = df['treatment'].replace(treatment_map)

# Verificar los cambios realizados
df['treatment'].value_counts()

treatment
Señor             50348
Señora            47178
Señor / Señora     1133
Empresa              20
Agencia              19
Name: count, dtype: int64

In [113]:
# Filtrar las filas donde 'treatment' es nulo
filas_treatment_nulo = df[df['treatment'].isnull()]

# Obtener la distribución de valores en 'gender' cuando 'treatment' es nulo
gender_counts = filas_treatment_nulo['gender'].value_counts()

# Mostrar los resultados
print(gender_counts)

gender
hombre    515
Otro      436
mujer     351
Name: count, dtype: int64

In [114]:


# Filtrar y asignar valores en 'treatment' basado en los valores de 'gender'
df.loc[(df['treatment'].isnull()) & (df['gender'] == 'hombre'), 'treatment'] = 'Señor'
df.loc[(df['treatment'].isnull()) & (df['gender'] == 'mujer'), 'treatment'] = 'Señora'
df.loc[(df['treatment'].isnull()) & ~(df['gender'].isin(['hombre', 'mujer'])), 'treatment'] = 'Otro'

# Verificar los cambios
print(df[df['treatment'].isnull()])  # No debería haber filas nulas en 'treatment'
print(df['treatment'].value_counts())

Empty DataFrame
Columns: [sequential_id, language, gender, treatment, customer_signup, country, birth_date, email, total_reservations, average_stay, average_advance_booking, billing, reservation_channel, travel_reason, last_reservation, different_hotels, companion]
Index: []
treatment
Señor             50863
Señora            47529
Señor / Señora     1133
Otro                436
Empresa              20
Agencia              19
Name: count, dtype: int64

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   sequential_id            100000 non-null  object
 1   language                 99998 non-null   object
 2   gender                   100000 non-null  object
 3   treatment                100000 non-null  object
 4   customer_signup          100000 non-null  object
 5   country                  99995 non-null   object
 6   birth_date               99674 non-null   object
 7   email                    26605 non-null   object
 8   total_reservations       59378 non-null   float64
 9   average_stay             58828 non-null   float64
 10  average_advance_booking  58910 non-null   float64
 11  billing                  59139 non-null   object
 12  reservation_channel      100000 non-null  object
 13  travel_reason            58910 non-null   object
 14  last_reservation         58836 non-null   object
 15  different_hotels         59378 non-null   float64
 16  companion                59378 non-null   object
dtypes: float64(4), object(13)
memory usage: 13.0+ MB

In [116]:
df["reservation_channel"].value_counts()

reservation_channel
Error              40622
Indirecto          38628
Directo            18107
Mixto Directo       1495
Mixto Indirecto     1133
Mixto                 15
Name: count, dtype: int64

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   sequential_id            100000 non-null  object
 1   language                 99998 non-null   object
 2   gender                   100000 non-null  object
 3   treatment                100000 non-null  object
 4   customer_signup          100000 non-null  object
 5   country                  99995 non-null   object
 6   birth_date               99674 non-null   object
 7   email                    26605 non-null   object
 8   total_reservations       59378 non-null   float64
 9   average_stay             58828 non-null   float64
 10  average_advance_booking  58910 non-null   float64
 11  billing                  59139 non-null   object
 12  reservation_channel      100000 non-null  object
 13  travel_reason            58910 non-null   object
 14  last_reservation         58836 non-null   object
 15  different_hotels         59378 non-null   float64
 16  companion                59378 non-null   object
dtypes: float64(4), object(13)
memory usage: 13.0+ MB

In [118]:
df["language"].value_counts()

language
S    42649
E    20174
P     7183
F     6073
I     5977
D     5708
N     1537
A     1413
1     1175
B      928
3      828
4      826
L      754
T      526
V      464
R      464
H      360
G      358
K      348
6      337
C      337
O      329
U      269
J      239
Q      202
5      166
M      113
2       65
8       62
c       26
X       20
Y       19
W       16
b       15
7       13
i        7
a        7
0        6
9        2
d        2
Z        1
Name: count, dtype: int64

In [119]:
df["country"].value_counts()

country
ES    34573
US     6291
IT     6210
PT     5392
FR     5250
      ...
PG        1
TD        1
UM        1
ZW        1
VU        1
Name: count, Length: 205, dtype: int64

In [120]:
country_counts_by_language = {}
# Iterar sobre los valores únicos de 'language'
for lang in df['language'].unique():
    # Filtrar el DataFrame por el valor actual de 'language'
    filtered_df = df[df['language'] == lang]
    # Obtener el conteo de valores de 'country' para el valor actual de 'language'
    country_counts = filtered_df['country'].value_counts()
    # Almacenar los resultados en el diccionario
    country_counts_by_language[lang] = country_counts

# Mostrar los resultados
for lang, counts in country_counts_by_language.items():
    print(f"Language: {lang}")
    print(counts)
    print("\n")

Language: S
country
ES    34478
MX     1658
AR     1457
CO      870
CL      371
      ...
DM        1
AG        1
RC        1
NP        1
BH        1
Name: count, Length: 121, dtype: int64


Language: I
country
IT    5839
BR      14
US      11
GB      10
CH       9
RO       7
AR       5
BE       5
MA       5
SM       4
GR       4
IN       3
DE       3
CN       3
FR       3
IL       3
KR       3
SE       2
UA       2
AM       2
VA       2
AL       2
MX       2
AU       2
NL       2
DK       2
VE       2
ES       2
LU       1
CA       1
CL       1
KW       1
IE       1
HR       1
AT       1
EC       1
IR       1
SG       1
SA       1
LY       1
EE       1
PH       1
PA       1
DZ       1
CO       1
NZ       1
TW       1
PT       1
RS       1
RU       1
MY       1
DO       1
Name: count, dtype: int64


Language: P
country
PT    5169
BR    1839
AO      61
CV      15
FR      10
GW      10
US       8
LU       7
ES       7
ST       5
DE       4
CH       4
AD       3
GB       3
PY       3
PR       2
CA       2
IR       2
AU       2
CZ       2
BE       2
MZ       2
UY       1
PA       1
PE       1
MY       1
SE       1
RO       1
EC       1
AE       1
GE       1
UA       1
NL       1
ID       1
MX       1
MS       1
IL       1
HU       1
NR       1
IT       1
AR       1
ZA       1
TI       1
Name: count, dtype: int64


Language: E
country
US    5951
GB    3769
CA    1015
IE     811
AU     548
      ...
SC       1
PG       1
SL       1
TG       1
VU       1
Name: count, Length: 177, dtype: int64


Language: T
country
TR    481
AZ     42
IT      1
DE      1
NL      1
Name: count, dtype: int64


Language: L
country
PL    751
NL      1
DE      1
IN      1
Name: count, dtype: int64


Language: D
country
DE    4064
CH     796
AT     784
GE       8
BE       6
NL       5
IT       4
CZ       4
US       4
LU       3
KP       2
LI       2
CL       2
IN       2
FR       2
ES       2
GB       2
AL       2
SK       2
DK       2
AU       2
AR       1
SI       1
IE       1
SZ       1
KR       1
TR       1
RS       1
HK       1
Name: count, dtype: int64


Language: 4
country
RO    790
MD     27
IT      4
DE      2
AT      1
AD      1
RU      1
Name: count, dtype: int64


Language: A
country
MA    370
SA    251
KW     94
EG     91
AE     85
DZ     75
AR     60
TN     58
JO     52
LB     41
IQ     38
OM     33
MR     30
SY     26
QA     22
BH     21
LY     14
PS     12
YE     10
IL      5
IR      5
SD      4
DE      4
SO      2
ER      2
PE      1
AW      1
BE      1
GR      1
NG      1
CO      1
AF      1
TR      1
Name: count, dtype: int64


Language: Q
country
SK    200
CZ      1
GB      1
Name: count, dtype: int64


Language: U
country
FI    269
Name: count, dtype: int64


Language: 1
country
CN    1115
TW      11
KR      10
US       9
HK       9
CH       6
GB       3
SG       3
NL       2
CA       2
FR       1
IT       1
AU       1
AT       1
DE       1
Name: count, dtype: int64


Language: N
country
NL    1523
SR       3
DE       2
BE       2
CN       1
CZ       1
US       1
KP       1
IE       1
TR       1
KR       1
Name: count, dtype: int64


Language: F
country
FR    4950
BE     796
LU      70
CH      29
MA      26
CA      21
MZ      18
CI      13
SN      12
DZ       8
CD       7
NL       7
KM       7
ML       7
RC       6
HT       6
CM       5
IT       5
BJ       5
BF       5
PT       4
TN       4
GN       4
MC       4
GR       3
GA       3
ES       3
GM       3
DE       3
NE       3
TG       3
MG       3
GB       3
RO       3
AT       3
SA       2
RE       2
CG       2
IL       2
PM       2
MR       1
BI       1
GF       1
GE       1
AR       1
DK       1
IE       1
SC       1
MU       1
TD       1
SI       1
Name: count, dtype: int64


Language: M
country
TW    93
CN    16
KR     1
CO     1
CH     1
HK     1
Name: count, dtype: int64


Language: 6
country
HR    281
BA     56
Name: count, dtype: int64


Language: J
country
JP    230
CN      6
BE      1
ES      1
LU      1
Name: count, dtype: int64


Language: G
country
GR    302
CY     52
GB      2
US      1
LU      1
Name: count, dtype: int64


Language: C
country
CZ    331
IE      1
GR      1
GB      1
US      1
CL      1
SK      1
Name: count, dtype: int64


Language: K
country
DK    344
DE      2
AT      1
SI      1
Name: count, dtype: int64


Language: 3
country
KR    793
KP     28
HK      4
DE      1
GB      1
CN      1
Name: count, dtype: int64


Language: B
country
IL    926
GR      2
Name: count, dtype: int64


Language: R
country
RU    422
EE      8
LT      8
KZ      5
UA      5
BY      4
ES      2
DE      1
IL      1
RO      1
CL      1
UZ      1
MT      1
LV      1
IT      1
FR      1
AM      1
Name: count, dtype: int64


Language: 5
country
SI    165
SL      1
Name: count, dtype: int64


Language: c
country
CA    21
ES     5
Name: count, dtype: int64


Language: H
country
HU    359
AT      1
Name: count, dtype: int64


Language: V
country
SE    460
CH      3
AT      1
Name: count, dtype: int64


Language: 9
country
EE    2
Name: count, dtype: int64


Language: O
country
NO    327
PL      1
GR      1
Name: count, dtype: int64


Language: W
country
BG    16
Name: count, dtype: int64


Language: X
country
LT    20
Name: count, dtype: int64


Language: 2
country
TH    64
IN     1
Name: count, dtype: int64


Language: 8
country
UA    58
ES     3
PL     1
Name: count, dtype: int64


Language: b
country
IS    14
PT     1
Name: count, dtype: int64


Language: 7
country
MY    7
SG    4
AU    1
VN    1
Name: count, dtype: int64


Language: i
country
ID    5
IN    2
Name: count, dtype: int64


Language: 0
country
RS    5
AR    1
Name: count, dtype: int64


Language: Y
country
LV    17
LT     2
Name: count, dtype: int64


Language: nan
Series([], Name: count, dtype: int64)


Language: a
country
AF    1
ZA    1
AD    1
CN    1
MY    1
SG    1
BR    1
Name: count, dtype: int64


Language: d
country
RS    2
Name: count, dtype: int64


Language: Z
country
AM    1
Name: count, dtype: int64

In [121]:
df2 = pd.read_csv("./data/paises.csv")

In [122]:
df2

                     name                   nombre iso
0                 Andorra                 Andorra   AD
1    United Arab Emirates  Emiratos Árabes Unidos   AE
2             Afghanistan              Afganistán   AF
3     Antigua and Barbuda       Antigua y Barbuda   AG
4                Anguilla                 Anguila   AI
..                    ...                      ...  ..
233            Yugoslavia              Yugoslavia   YU
234          South Africa               Sudáfrica   ZA
235                Zambia                  Zambia   ZM
236                 Zaire                   Zaire   ZR
237              Zimbabwe                Zimbabue   ZW

[238 rows x 3 columns]

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   sequential_id            100000 non-null  object
 1   language                 99998 non-null   object
 2   gender                   100000 non-null  object
 3   treatment                100000 non-null  object
 4   customer_signup          100000 non-null  object
 5   country                  99995 non-null   object
 6   birth_date               99674 non-null   object
 7   email                    26605 non-null   object
 8   total_reservations       59378 non-null   float64
 9   average_stay             58828 non-null   float64
 10  average_advance_booking  58910 non-null   float64
 11  billing                  59139 non-null   object
 12  reservation_channel      100000 non-null  object
 13  travel_reason            58910 non-null   object
 14  last_reservation         58836 non-null   object
 15  different_hotels         59378 non-null   float64
 16  companion                59378 non-null   object
dtypes: float64(4), object(13)
memory usage: 13.0+ MB

In [124]:
country_counts_by_language = {}
# Iterar sobre los valores únicos de 'language'
for lang in df['language'].unique():
    # Filtrar el DataFrame por el valor actual de 'language'
    filtered_df = df[df['language'] == lang]
    # Obtener el conteo de valores de 'country' para el valor actual de 'language'
    country_counts = filtered_df['country'].value_counts()
    # Almacenar los resultados en el diccionario
    country_counts_by_language[lang] = country_counts

# Mostrar los resultados
for lang, counts in country_counts_by_language.items():
    print(f"Language: {lang}")
    print(counts)
    print("\n")

Language: S
country
ES    34478
MX     1658
AR     1457
CO      870
CL      371
      ...
DM        1
AG        1
RC        1
NP        1
BH        1
Name: count, Length: 121, dtype: int64


Language: I
country
IT    5839
BR      14
US      11
GB      10
CH       9
RO       7
AR       5
BE       5
MA       5
SM       4
GR       4
IN       3
DE       3
CN       3
FR       3
IL       3
KR       3
SE       2
UA       2
AM       2
VA       2
AL       2
MX       2
AU       2
NL       2
DK       2
VE       2
ES       2
LU       1
CA       1
CL       1
KW       1
IE       1
HR       1
AT       1
EC       1
IR       1
SG       1
SA       1
LY       1
EE       1
PH       1
PA       1
DZ       1
CO       1
NZ       1
TW       1
PT       1
RS       1
RU       1
MY       1
DO       1
Name: count, dtype: int64


Language: P
country
PT    5169
BR    1839
AO      61
CV      15
FR      10
GW      10
US       8
LU       7
ES       7
ST       5
DE       4
CH       4
AD       3
GB       3
PY       3
PR       2
CA       2
IR       2
AU       2
CZ       2
BE       2
MZ       2
UY       1
PA       1
PE       1
MY       1
SE       1
RO       1
EC       1
AE       1
GE       1
UA       1
NL       1
ID       1
MX       1
MS       1
IL       1
HU       1
NR       1
IT       1
AR       1
ZA       1
TI       1
Name: count, dtype: int64


Language: E
country
US    5951
GB    3769
CA    1015
IE     811
AU     548
      ...
SC       1
PG       1
SL       1
TG       1
VU       1
Name: count, Length: 177, dtype: int64


Language: T
country
TR    481
AZ     42
IT      1
DE      1
NL      1
Name: count, dtype: int64


Language: L
country
PL    751
NL      1
DE      1
IN      1
Name: count, dtype: int64


Language: D
country
DE    4064
CH     796
AT     784
GE       8
BE       6
NL       5
IT       4
CZ       4
US       4
LU       3
KP       2
LI       2
CL       2
IN       2
FR       2
ES       2
GB       2
AL       2
SK       2
DK       2
AU       2
AR       1
SI       1
IE       1
SZ       1
KR       1
TR       1
RS       1
HK       1
Name: count, dtype: int64


Language: 4
country
RO    790
MD     27
IT      4
DE      2
AT      1
AD      1
RU      1
Name: count, dtype: int64


Language: A
country
MA    370
SA    251
KW     94
EG     91
AE     85
DZ     75
AR     60
TN     58
JO     52
LB     41
IQ     38
OM     33
MR     30
SY     26
QA     22
BH     21
LY     14
PS     12
YE     10
IL      5
IR      5
SD      4
DE      4
SO      2
ER      2
PE      1
AW      1
BE      1
GR      1
NG      1
CO      1
AF      1
TR      1
Name: count, dtype: int64


Language: Q
country
SK    200
CZ      1
GB      1
Name: count, dtype: int64


Language: U
country
FI    269
Name: count, dtype: int64


Language: 1
country
CN    1115
TW      11
KR      10
US       9
HK       9
CH       6
GB       3
SG       3
NL       2
CA       2
FR       1
IT       1
AU       1
AT       1
DE       1
Name: count, dtype: int64


Language: N
country
NL    1523
SR       3
DE       2
BE       2
CN       1
CZ       1
US       1
KP       1
IE       1
TR       1
KR       1
Name: count, dtype: int64


Language: F
country
FR    4950
BE     796
LU      70
CH      29
MA      26
CA      21
MZ      18
CI      13
SN      12
DZ       8
CD       7
NL       7
KM       7
ML       7
RC       6
HT       6
CM       5
IT       5
BJ       5
BF       5
PT       4
TN       4
GN       4
MC       4
GR       3
GA       3
ES       3
GM       3
DE       3
NE       3
TG       3
MG       3
GB       3
RO       3
AT       3
SA       2
RE       2
CG       2
IL       2
PM       2
MR       1
BI       1
GF       1
GE       1
AR       1
DK       1
IE       1
SC       1
MU       1
TD       1
SI       1
Name: count, dtype: int64


Language: M
country
TW    93
CN    16
KR     1
CO     1
CH     1
HK     1
Name: count, dtype: int64


Language: 6
country
HR    281
BA     56
Name: count, dtype: int64


Language: J
country
JP    230
CN      6
BE      1
ES      1
LU      1
Name: count, dtype: int64


Language: G
country
GR    302
CY     52
GB      2
US      1
LU      1
Name: count, dtype: int64


Language: C
country
CZ    331
IE      1
GR      1
GB      1
US      1
CL      1
SK      1
Name: count, dtype: int64


Language: K
country
DK    344
DE      2
AT      1
SI      1
Name: count, dtype: int64


Language: 3
country
KR    793
KP     28
HK      4
DE      1
GB      1
CN      1
Name: count, dtype: int64


Language: B
country
IL    926
GR      2
Name: count, dtype: int64


Language: R
country
RU    422
EE      8
LT      8
KZ      5
UA      5
BY      4
ES      2
DE      1
IL      1
RO      1
CL      1
UZ      1
MT      1
LV      1
IT      1
FR      1
AM      1
Name: count, dtype: int64


Language: 5
country
SI    165
SL      1
Name: count, dtype: int64


Language: c
country
CA    21
ES     5
Name: count, dtype: int64


Language: H
country
HU    359
AT      1
Name: count, dtype: int64


Language: V
country
SE    460
CH      3
AT      1
Name: count, dtype: int64


Language: 9
country
EE    2
Name: count, dtype: int64


Language: O
country
NO    327
PL      1
GR      1
Name: count, dtype: int64


Language: W
country
BG    16
Name: count, dtype: int64


Language: X
country
LT    20
Name: count, dtype: int64


Language: 2
country
TH    64
IN     1
Name: count, dtype: int64


Language: 8
country
UA    58
ES     3
PL     1
Name: count, dtype: int64


Language: b
country
IS    14
PT     1
Name: count, dtype: int64


Language: 7
country
MY    7
SG    4
AU    1
VN    1
Name: count, dtype: int64


Language: i
country
ID    5
IN    2
Name: count, dtype: int64


Language: 0
country
RS    5
AR    1
Name: count, dtype: int64


Language: Y
country
LV    17
LT     2
Name: count, dtype: int64


Language: nan
Series([], Name: count, dtype: int64)


Language: a
country
AF    1
ZA    1
AD    1
CN    1
MY    1
SG    1
BR    1
Name: count, dtype: int64


Language: d
country
RS    2
Name: count, dtype: int64


Language: Z
country
AM    1
Name: count, dtype: int64

In [125]:
language_meanings = {
    'S': 'Spanish',
    'I': 'Italian',
    'P': 'Portuguese',
    'E': 'English',
    'T': 'Turkish',
    'L': 'Latvian',
    'D': 'German',
    '4': 'Romanian/Moldovan',
    'A': 'Arabic',
    'Q': 'Slovak',
    'U': 'Finnish',
    '1': 'Chinese',
    'N': 'Dutch',
    'F': 'French',
    'M': 'Mandarin',
    '6': 'Croatian/Bosnian',
    'J': 'Japanese',
    'G': 'Greek',
    'C': 'Czech',
    'K': 'Danish',
    '3': 'Korean',
    'B': 'Hebrew',
    'R': 'Russian',
    '5': 'Slovenian',
    'c': 'Catalan',
    'H': 'Hungarian',
    'V': 'Swedish',
    '9': 'Estonian',
    'O': 'Norwegian',
    'W': 'Unknown',
    'X': 'Lithuanian',
    '2': 'Thai',
    '8': 'Ukrainian',
    'b': 'Icelandic',
    '7': 'Malay/Singaporean',
    'i': 'Indonesian',
    '0': 'Argentinian',
    'Y': 'Latvian/Lithuanian',
    'nan': 'Unknown',
    'a': 'Mixed/Other',
    'd': 'Unknown',
    'Z': 'Armenian'
}

df['language_name'] = df['language'].map(language_meanings)

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   sequential_id            100000 non-null  object
 1   language                 99998 non-null   object
 2   gender                   100000 non-null  object
 3   treatment                100000 non-null  object
 4   customer_signup          100000 non-null  object
 5   country                  99995 non-null   object
 6   birth_date               99674 non-null   object
 7   email                    26605 non-null   object
 8   total_reservations       59378 non-null   float64
 9   average_stay             58828 non-null   float64
 10  average_advance_booking  58910 non-null   float64
 11  billing                  59139 non-null   object
 12  reservation_channel      100000 non-null  object
 13  travel_reason            58910 non-null   object
 14  last_reservation         58836 non-null   object
 15  different_hotels         59378 non-null   float64
 16  companion                59378 non-null   object
 17  language_name            99998 non-null   object
dtypes: float64(4), object(14)
memory usage: 13.7+ MB

In [128]:
df['email'] = df['email'].apply(lambda x: True if x == 'MAIL' else False)

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   sequential_id            100000 non-null  object
 1   language                 99998 non-null   object
 2   gender                   100000 non-null  object
 3   treatment                100000 non-null  object
 4   customer_signup          100000 non-null  object
 5   country                  99995 non-null   object
 6   birth_date               99674 non-null   object
 7   email                    100000 non-null  bool
 8   total_reservations       59378 non-null   float64
 9   average_stay             58828 non-null   float64
 10  average_advance_booking  58910 non-null   float64
 11  billing                  59139 non-null   object
 12  reservation_channel      100000 non-null  object
 13  travel_reason            58910 non-null   object
 14  last_reservation         58836 non-null   object
 15  different_hotels         59378 non-null   float64
 16  companion                59378 non-null   object
 17  language_name            99998 non-null   object
dtypes: bool(1), float64(4), object(13)
memory usage: 13.1+ MB

In [135]:
null_country_rows = df[df['country'].isnull()]
null_country_rows

,sequential_id,language,gender,treatment,customer_signup,country,birth_date,email,total_reservations,average_stay,average_advance_booking,billing,reservation_channel,travel_reason,last_reservation,different_hotels,companion,language_name
24960,3.941.567,NaN,Otro,Otro,2022-11-06,NaN,NaN,False,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN,NaN

In [136]:
df.loc[df['language_name'] == 'English', 'country'] = df.loc[df['language_name'] == 'English', 'country'].fillna('US')

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   sequential_id            100000 non-null  object
 1   language                 99998 non-null   object
 2   gender                   100000 non-null  object
 3   treatment                100000 non-null  object
 4   customer_signup          100000 non-null  object
 5   country                  99999 non-null   object
 6   birth_date               99674 non-null   object
 7   email                    100000 non-null  bool
 8   total_reservations       59378 non-null   float64
 9   average_stay             58828 non-null   float64
 10  average_advance_booking  58910 non-null   float64
 11  billing                  59139 non-null   object
 12  reservation_channel      100000 non-null  object
 13  travel_reason            58910 non-null   object
 14  last_reservation         58836 non-null   object
 15  different_hotels         59378 non-null   float64
 16  companion                59378 non-null   object
 17  language_name            99998 non-null   object
dtypes: bool(1), float64(4), object(13)
memory usage: 13.1+ MB

In [140]:
null_l_rows = df[df['language'].isnull()]
null_l_rows

,sequential_id,language,gender,treatment,customer_signup,country,birth_date,email,total_reservations,average_stay,average_advance_booking,billing,reservation_channel,travel_reason,last_reservation,different_hotels,companion,language_name
23940,2.727.873,NaN,hombre,Señor,2023-05-12,3,1969-04-26,False,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN,NaN
24960,3.941.567,NaN,Otro,Otro,2022-11-06,NaN,NaN,False,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN,NaN

In [139]:
df.loc[df['country'] == 'KR', 'country'] = df.loc[df['country'] == 'KR', 'language'].fillna('3')
df.loc[df['country'] == 'KR', 'country'] = df.loc[df['country'] == 'KR', 'language_name'].fillna('Korean')

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   sequential_id            100000 non-null  object
 1   language                 99998 non-null   object
 2   gender                   100000 non-null  object
 3   treatment                100000 non-null  object
 4   customer_signup          100000 non-null  object
 5   country                  99999 non-null   object
 6   birth_date               99674 non-null   object
 7   email                    100000 non-null  bool
 8   total_reservations       59378 non-null   float64
 9   average_stay             58828 non-null   float64
 10  average_advance_booking  58910 non-null   float64
 11  billing                  59139 non-null   object
 12  reservation_channel      100000 non-null  object
 13  travel_reason            58910 non-null   object
 14  last_reservation         58836 non-null   object
 15  different_hotels         59378 non-null   float64
 16  companion                59378 non-null   object
 17  language_name            99998 non-null   object
dtypes: bool(1), float64(4), object(13)
memory usage: 13.1+ MB

In [142]:
df = df.drop(columns=["language"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   sequential_id            100000 non-null  object
 1   gender                   100000 non-null  object
 2   treatment                100000 non-null  object
 3   customer_signup          100000 non-null  object
 4   country                  99999 non-null   object
 5   birth_date               99674 non-null   object
 6   email                    100000 non-null  bool
 7   total_reservations       59378 non-null   float64
 8   average_stay             58828 non-null   float64
 9   average_advance_booking  58910 non-null   float64
 10  billing                  59139 non-null   object
 11  reservation_channel      100000 non-null  object
 12  travel_reason            58910 non-null   object
 13  last_reservation         58836 non-null   object
 14  different_hotels         59378 non-null   float64
 15  companion                59378 non-null   object
 16  language_name            99998 non-null   object
dtypes: bool(1), float64(4), object(12)
memory usage: 12.3+ MB

In [143]:
df["reservation_channel"].value_counts()

reservation_channel
Error              40622
Indirecto          38628
Directo            18107
Mixto Directo       1495
Mixto Indirecto     1133
Mixto                 15
Name: count, dtype: int64