In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./data/clients_analysis.csv") 
df2 = pd.read_csv("./data/countries_languages.csv")

In [3]:
df2

       Country ISO_Code Official_Language Language_Initial
0        Spain       ES           Spanish                E
1     Slovenia       SI         Slovenian                S
2  South Korea       KR            Korean                K
3       France       FR            French                F
4      Germany       DE            German                G
5        Japan       JP          Japanese                J
6        China       CN           Chinese                C
7       Russia       RU           Russian                R
8        Italy       IT           Italian                I
9       Brazil       BR        Portuguese                P

In [4]:
df.columns = [
    'sequential_id', 'language', 'gender', 'treatment', 'customer_signup',
    'country', 'commercial_communications', 'communications_signup',
    'loyalty_level', 'loyalty_signup', 'birth_date', 'email',
    'total_reservations', 'average_stay', 'average_advance_booking',
    'billing', 'reservation_channel', 'travel_reason', 'last_reservation',
    'different_hotels', 'companion'
]

In [5]:
df.head()

,sequential_id,language,gender,treatment,customer_signup,country,commercial_communications,communications_signup,loyalty_level,loyalty_signup,...,email,total_reservations,average_stay,average_advance_booking,billing,reservation_channel,travel_reason,last_reservation,different_hotels,companion
0,5.715.578,S,hombre,Señor,2022-03-08,ES,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
1,2.931.815,I,mujer,Señora,2023-04-15,IT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
2,5.246.485,P,mujer,Señora,2022-05-25,BR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
3,3.084.602,S,hombre,Señor,2023-03-25,ES,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
4,32.943,S,mujer,Señora,2024-04-27,MX,X,2024-06-10,bajo,2024-04-26,...,MAIL,1.0,1.0,0.0,"118,8971041652",Indirecto,LEISURE,2024-04-27,1.0,Pareja

In [8]:
df["gender"].value_counts()

gender
hombre    51219
mujer     48343
Name: count, dtype: int64

In [7]:
df["gender"].fillna("Otro")

0        hombre
1         mujer
2         mujer
3        hombre
4         mujer
          ...
99995     mujer
99996     mujer
99997     mujer
99998    hombre
99999     mujer
Name: gender, Length: 100000, dtype: object

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   language                   99998 non-null   object
 2   gender                     99562 non-null   object
 3   treatment                  98698 non-null   object
 4   customer_signup            100000 non-null  object
 5   country                    99995 non-null   object
 6   commercial_communications  6088 non-null    object
 7   communications_signup      6088 non-null    object
 8   loyalty_level              1750 non-null    object
 9   loyalty_signup             1481 non-null    object
 10  birth_date                 99674 non-null   object
 11  email                      26605 non-null   object
 12  total_reservations         59378 non-null   float64
 13  average_stay               58828 non-null   float64
 14  average_advance_booking    58910 non-null   float64
 15  billing                    59139 non-null   object
 16  reservation_channel        100000 non-null  object
 17  travel_reason              58910 non-null   object
 18  last_reservation           58836 non-null   object
 19  different_hotels           59378 non-null   float64
 20  companion                  59378 non-null   object
dtypes: float64(4), object(17)
memory usage: 16.0+ MB

In [40]:
df[df["language"] == "5"]

,sequential_id,language,gender,treatment,customer_signup,country,commercial_communications,communications_signup,loyalty_level,loyalty_signup,...,email,total_reservations,average_stay,average_advance_booking,billing,reservation_channel,travel_reason,last_reservation,different_hotels,companion
480,34.353,5,hombre,Señor,2024-04-26,SI,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,41.0,"124,93818152",Indirecto,LEISURE,2024-04-27,1.0,Familia
1425,3.170.052,5,hombre,Señor,2023-03-12,SI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
1729,2.961.643,5,mujer,Ms.,2023-04-11,SI,NaN,NaN,NaN,NaN,...,NaN,7.0,1.0,1.0,"1.147,73041188",Directo,MIXTO_BT,2024-01-05,1.0,Individual
2015,2.723.283,5,hombre,Mr.,2023-05-12,SI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
2927,3.743.661,5,hombre,Señor,2022-12-08,SI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97048,4.007.475,5,mujer,Señora,2022-10-29,SI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
97147,2.595.122,5,mujer,Señora,2023-05-28,SI,NaN,NaN,NaN,NaN,...,NaN,2.0,1.0,323.0,"471,36075744",Indirecto,LEISURE,2023-06-04,1.0,Pareja
97435,3.446.936,5,mujer,Ms.,2023-01-27,SI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
98568,37.207,5,mujer,Señora,2024-04-26,SI,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,4.0,"184,87272772",Directo,LEISURE,2024-04-27,1.0,Pareja
99806,875.739,5,mujer,Ms.,2023-12-30,SI,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,2.0,"218,51689476",Indirecto,LEISURE,2023-12-31,1.0,Pareja

In [21]:
df['mail'] = df['mail'].apply(lambda x: True if x == 'MAIL' else False)
df['comunicaciones_comerciales'] = df['comunicaciones_comerciales'].apply(lambda x: True if pd.notna(x) and x.strip().upper() == 'X' else False)

In [11]:
df["gender"] = df["gender"].fillna("Otro")

In [23]:
df['facturacion'] = df['facturacion'].str.replace('.', '', regex=False).str.replace(',', '.').astype(float)

In [24]:
df["pais"].value_counts()

pais
ES    34573
US     6291
IT     6210
PT     5392
FR     5250
      ...
PG        1
TD        1
UM        1
ZW        1
VU        1
Name: count, Length: 205, dtype: int64

In [9]:
df[df["gender"].isnull()]

,sequential_id,language,gender,treatment,customer_signup,country,commercial_communications,communications_signup,loyalty_level,loyalty_signup,...,email,total_reservations,average_stay,average_advance_booking,billing,reservation_channel,travel_reason,last_reservation,different_hotels,companion
530,441.345,E,NaN,NaN,2024-03-06,KR,NaN,NaN,bajo,2024-03-04,...,MAIL,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
1046,229.693,E,NaN,NaN,2024-04-03,BE,X,2024-05-16,bajo,2024-04-01,...,MAIL,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
1117,177.680,S,NaN,NaN,2024-04-09,ES,X,2024-05-22,bajo,2024-04-07,...,MAIL,1.0,NaN,NaN,"393,6",Directo,NaN,NaN,1.0,Pareja
1197,45.875,S,NaN,NaN,2024-04-25,ES,X,2024-06-07,bajo,2024-04-23,...,MAIL,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
1216,18.478,E,NaN,NaN,2024-04-28,HK,X,2024-06-10,bajo,2024-04-26,...,MAIL,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98594,223.650,E,NaN,NaN,2024-04-04,ES,X,2024-05-17,bajo,2024-04-02,...,MAIL,1.0,NaN,NaN,NaN,Directo,NaN,NaN,1.0,Pareja
99390,409.149,E,NaN,NaN,2024-03-10,GB,X,2024-04-22,bajo,2024-03-08,...,MAIL,1.0,NaN,NaN,"511,68",Directo,NaN,NaN,1.0,Pareja
99702,194.085,S,NaN,NaN,2024-04-07,ES,X,2024-05-20,bajo,2024-04-05,...,MAIL,2.0,NaN,NaN,"402,54545544",Directo,NaN,NaN,1.0,Pareja
99791,503.547,E,NaN,NaN,2024-02-26,IE,NaN,NaN,bajo,NaN,...,MAIL,1.0,NaN,NaN,"324,5728592",Directo,NaN,NaN,1.0,Pareja
99880,538.686,S,NaN,NaN,2024-02-22,ES,NaN,NaN,bajo,NaN,...,MAIL,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN

In [8]:
df["Idioma"] = df["Idioma"].map({'S': 'Spanish', 'I': 'Italian', 'P': 'Portuguese'}).fillna(df["otro"])
df['genero'] = df['genero'].map({'hombre': 'male', 'mujer': 'female'}).fillna(df['otro'])
#df['tratamiento'] = df['tratamiento'].map({'Señor': 'Mr.', 'Señora': 'Ms.'}).fillna(df['tratamiento'])

In [27]:
df["facturacion"].value_counts()

facturacion
0.000000       660
147.600000     132
134.181818     109
87.218182       98
82.000000       92
              ...
372.855507       1
287.387945       1
1091.327566      1
91.042363        1
815.646546       1
Name: count, Length: 41387, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id_secuencial               100000 non-null  object
 1   Idioma                      99998 non-null   object
 2   genero                      99562 non-null   object
 3   tratamiento                 98698 non-null   object
 4   alta_cliente                100000 non-null  object
 5   pais                        99995 non-null   object
 6   comunicaciones_comerciales  100000 non-null  bool
 7   alta_comunicaciones         6088 non-null    object
 8   nivel_fidelizacion          1750 non-null    object
 9   alta_fidelizacion           1481 non-null    object
 10  fecha_nacimiento            99674 non-null   object
 11  mail                        100000 non-null  bool
 12  Total_Reservation           59378 non-null   float64
 13  media_estancia              58828 non-null   float64
 14  antelacion_media            58910 non-null   float64
 15  facturacion                 59139 non-null   float64
 16  Canal_reserva               100000 non-null  object
 17  Motivo_viaje                58910 non-null   object
 18  ultima_reserva              58836 non-null   object
 19  n_hoteles_distintos         59378 non-null   float64
 20  acompanante                 59378 non-null   object
dtypes: bool(2), float64(5), object(14)
memory usage: 14.7+ MB

In [ ]:
df['booking_channel'] = df['booking_channel'].replace('Indirecto', 'Indirect')
df['trip_reason'] = df['trip_reason'].replace('LEISURE', 'Leisure')

In [ ]:
df['customer_id'] = df['customer_id'].str.replace('.', '', regex=False).astype(float).astype('Int64')

In [ ]:
critical_columns = ['customer_id', 'customer_since', 'revenue']
df[critical_columns] = df[critical_columns].dropna()