In [503]:
import pandas as pd
import numpy as np
from datetime import datetime

Grupo Hotusa - Data Analyst/Scientist test.
Tarea para candidatos que aplican a un puesto de Data Analyst/Scientist en Grupo Hotusa.

Descripción de la tarea
El dataset (clients_analysis.csv) con el que trabajar contiene las siguientes columnas:

id_secuencial: Id de Cliente (valor entero).

Idioma: Idioma con el que dirigirse al cliente.

genero: Género del cliente.

tratamiento: Forma de dirigirse al cliente.

alta_cliente: Fecha de alta del cliente.

comunicaciones_comerciales: Si el cliente permite comunicaciones comerciales o no.

alta_comunicaciones: Fecha en la que el cliente aceptó las comunicaciones comerciales.

nivel_fidelizacion: Nivel en el programa de fidelización de la empresa del cliente.

alta_fidelizacion: Fecha en la que el cliente se dio de alta en el programa de fidelización.

fecha_nacimiento: Fecha de nacimiento del cliente.

mail: Si el cliente tiene un mail informado en su ficha de cliente o no.

Total_Reservation: Número total de reservas del cliente.

media_estancia: Duración media de las estancias del cliente.

antelacion_media: Antelación media con la que se hacen las reservas.

facturacion: Total de facturación del cliente.

Canal_reserva: Canal de reserva más habitual del cliente.

Motivo_viaje: Motivo del viaje/Segmento.

ultima_reserva: Fecha de la última reserva.

n_hoteles_distintos: Número de hoteles distintos en los que se ha alojado el cliente.

acompanante: Acompañante más recurrente en sus reservas.

Debes crear un report reproducible (en un notebook en Python o R) siguiendo estos pasos:

Estandarización y limpieza: Puedes observar que el csv está desordenado, las columnas no tienen una estándar en cuanto a la nomenclatura y los valores, en su mayoría, ni siquiera tienen un formato adecuado. Esto se debe a que se han recogido datos de varias fuentes diferentes. Desde el departamento de Marketing quieren usar esta información de manera que les sea sencillo filtrar y extraer los clientes a los que impactar en comunicaciones comerciales. ¿Qué tipo de limpieza, agrupaciones o estandarizaciones piensas que podrían hacerse? Realiza los que creas de importancia. [Ejemplo: transformar la columna 'mail' en booleano, estandarizar los nombres de las columnas a un único idioma, etc.]





EDA: ¿Existen columnas que no sean útiles? ¿Crees que podemos extraer alguna otra nueva? Haz un breve análisis descriptivo de los datos. Propón y realiza un par de análisis que te parezcan interesantes en cuanto a los clientes.





Propuesta de campañas: Sabiendo que queremos, por un lado, agradecer a los clientes más 'top' y, por otro, llamar la atención de aquellos clientes que creemos potenciales para que sean recurrentes en un futuro, ¿cómo identificarías o segmentarías los clientes más top? ¿Y los potenciales clientes recurrentes? ¿Qué variables echas en falta para poder afinar tu segmentación? ¿Cuáles serían tus resultados?





Modelo predictivo: Al margen de las campañas de marketing, ¿qué otro tipo de valor le darías a estos datos? ¿Qué modelo predictivo podrías crear alrededor de los clientes? ¿Sabrías cómo hacerlo?
Se valorarán las explicaciones y insights que se detecten como también que las gráficas y los resultados sean fáciles de leer. No se trata de escupir los datos, sino contar una historia con ellos. Este report lo debería poder leer tanto un perfil técnico como un perfil de negocio.

In [504]:
df = pd.read_csv("./data/clients_analysis.csv")

Cambio de idioma de todos los titulos de columna para unificar en ingles

In [505]:
df.columns = [
    'sequential_id', 'language', 'gender', 'treatment', 'customer_signup',
    'country', 'commercial_communications', 'communications_signup',
    'loyalty_level', 'loyalty_signup', 'birth_date', 'email',
    'total_reservations', 'average_stay', 'average_advance_booking',
    'billing', 'reservation_channel', 'travel_reason', 'last_reservation',
    'different_hotels', 'companion'
]

Columnas con muchos valores nulos:


commercial_communications: Tiene muchos valores nulos (93,912 de 100,000). Aunque esta columna es importante, podríamos considerar eliminarla si no podemos obtener información confiable. Sin embargo, es mejor mantenerla y explorar su impacto.


communications_signup: Similar a la columna anterior, está relacionada y tiene muchos valores nulos.


loyalty_level y loyalty_signup: Tienen muchos valores nulos pero son importantes para el análisis de fidelización.

In [506]:
df["billing"].value_counts()

billing
0                 660
147,6             132
134,18181848      109
87,21818152        98
82                 92
                 ...
372,85550716        1
287,3879451564      1
1.091,32756632      1
91,04236304         1
815,6465462         1
Name: count, Length: 41387, dtype: int64

In [507]:
#df = df.drop(columns=['loyalty_signup','commercial_communications', 'communications_signup','loyalty_level'])

In [508]:
df.head()

,sequential_id,language,gender,treatment,customer_signup,country,commercial_communications,communications_signup,loyalty_level,loyalty_signup,...,email,total_reservations,average_stay,average_advance_booking,billing,reservation_channel,travel_reason,last_reservation,different_hotels,companion
0,5.715.578,S,hombre,Señor,2022-03-08,ES,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
1,2.931.815,I,mujer,Señora,2023-04-15,IT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
2,5.246.485,P,mujer,Señora,2022-05-25,BR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
3,3.084.602,S,hombre,Señor,2023-03-25,ES,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN
4,32.943,S,mujer,Señora,2024-04-27,MX,X,2024-06-10,bajo,2024-04-26,...,MAIL,1.0,1.0,0.0,"118,8971041652",Indirecto,LEISURE,2024-04-27,1.0,Pareja

Completo con otros los nulos de la columna gender

In [509]:
df["gender"].value_counts()

gender
hombre    51219
mujer     48343
Name: count, dtype: int64

In [510]:
df["gender"] = df["gender"].fillna("Otro")

In [511]:
df["gender"].value_counts()

gender
hombre    51219
mujer     48343
Otro        438
Name: count, dtype: int64

In [512]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   language                   99998 non-null   object
 2   gender                     100000 non-null  object
 3   treatment                  98698 non-null   object
 4   customer_signup            100000 non-null  object
 5   country                    99995 non-null   object
 6   commercial_communications  6088 non-null    object
 7   communications_signup      6088 non-null    object
 8   loyalty_level              1750 non-null    object
 9   loyalty_signup             1481 non-null    object
 10  birth_date                 99674 non-null   object
 11  email                      26605 non-null   object
 12  total_reservations         59378 non-null   float64
 13  average_stay               58828 non-null   float64
 14  average_advance_booking    58910 non-null   float64
 15  billing                    59139 non-null   object
 16  reservation_channel        100000 non-null  object
 17  travel_reason              58910 non-null   object
 18  last_reservation           58836 non-null   object
 19  different_hotels           59378 non-null   float64
 20  companion                  59378 non-null   object
dtypes: float64(4), object(17)
memory usage: 16.0+ MB

Trato de completar y unificar la columna treatment

In [513]:
df["treatment"].value_counts()

treatment
Señor             43643
Señora            41512
Mr.                6705
Ms.                5666
Señor / Señora     1003
Mr. / Mrs.          130
Empresa              17
Turismo              10
Agencia               9
Company               3
Name: count, dtype: int64

Voy a unificar los valores en Señor, Señora, Señor y Señora, Agencia, Empresa.

In [514]:
treatment_map = {
    'Mr.': 'Señor',
    'Ms.': 'Señora',
    'Mr. / Mrs.': 'Señor / Señora',
    'Turismo': 'Agencia',
    'Company': 'Empresa',
    # Añadir más mapeos si es necesario
}

# Aplicar el mapeo a la columna 'treatment'
df['treatment'] = df['treatment'].replace(treatment_map)

# Verificar los cambios realizados
df['treatment'].value_counts()

treatment
Señor             50348
Señora            47178
Señor / Señora     1133
Empresa              20
Agencia              19
Name: count, dtype: int64

In [515]:
# Filtrar las filas donde 'treatment' es nulo
filas_treatment_nulo = df[df['treatment'].isnull()]

# Obtener la distribución de valores en 'gender' cuando 'treatment' es nulo
gender_counts = filas_treatment_nulo['gender'].value_counts()

# Mostrar los resultados
print(gender_counts)

gender
hombre    515
Otro      436
mujer     351
Name: count, dtype: int64

In [516]:


# Filtrar y asignar valores en 'treatment' basado en los valores de 'gender'
df.loc[(df['treatment'].isnull()) & (df['gender'] == 'hombre'), 'treatment'] = 'Señor'
df.loc[(df['treatment'].isnull()) & (df['gender'] == 'mujer'), 'treatment'] = 'Señora'
df.loc[(df['treatment'].isnull()) & ~(df['gender'].isin(['hombre', 'mujer'])), 'treatment'] = 'Otro'

# Verificar los cambios
print(df[df['treatment'].isnull()])  # No debería haber filas nulas en 'treatment'
print(df['treatment'].value_counts())

Empty DataFrame
Columns: [sequential_id, language, gender, treatment, customer_signup, country, commercial_communications, communications_signup, loyalty_level, loyalty_signup, birth_date, email, total_reservations, average_stay, average_advance_booking, billing, reservation_channel, travel_reason, last_reservation, different_hotels, companion]
Index: []

[0 rows x 21 columns]
treatment
Señor             50863
Señora            47529
Señor / Señora     1133
Otro                436
Empresa              20
Agencia              19
Name: count, dtype: int64

In [517]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   language                   99998 non-null   object
 2   gender                     100000 non-null  object
 3   treatment                  100000 non-null  object
 4   customer_signup            100000 non-null  object
 5   country                    99995 non-null   object
 6   commercial_communications  6088 non-null    object
 7   communications_signup      6088 non-null    object
 8   loyalty_level              1750 non-null    object
 9   loyalty_signup             1481 non-null    object
 10  birth_date                 99674 non-null   object
 11  email                      26605 non-null   object
 12  total_reservations         59378 non-null   float64
 13  average_stay               58828 non-null   float64
 14  average_advance_booking    58910 non-null   float64
 15  billing                    59139 non-null   object
 16  reservation_channel        100000 non-null  object
 17  travel_reason              58910 non-null   object
 18  last_reservation           58836 non-null   object
 19  different_hotels           59378 non-null   float64
 20  companion                  59378 non-null   object
dtypes: float64(4), object(17)
memory usage: 16.0+ MB

In [518]:
df["reservation_channel"].value_counts()

reservation_channel
Error              40622
Indirecto          38628
Directo            18107
Mixto Directo       1495
Mixto Indirecto     1133
Mixto                 15
Name: count, dtype: int64

In [519]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   language                   99998 non-null   object
 2   gender                     100000 non-null  object
 3   treatment                  100000 non-null  object
 4   customer_signup            100000 non-null  object
 5   country                    99995 non-null   object
 6   commercial_communications  6088 non-null    object
 7   communications_signup      6088 non-null    object
 8   loyalty_level              1750 non-null    object
 9   loyalty_signup             1481 non-null    object
 10  birth_date                 99674 non-null   object
 11  email                      26605 non-null   object
 12  total_reservations         59378 non-null   float64
 13  average_stay               58828 non-null   float64
 14  average_advance_booking    58910 non-null   float64
 15  billing                    59139 non-null   object
 16  reservation_channel        100000 non-null  object
 17  travel_reason              58910 non-null   object
 18  last_reservation           58836 non-null   object
 19  different_hotels           59378 non-null   float64
 20  companion                  59378 non-null   object
dtypes: float64(4), object(17)
memory usage: 16.0+ MB

In [520]:
df["language"].value_counts()

language
S    42649
E    20174
P     7183
F     6073
I     5977
D     5708
N     1537
A     1413
1     1175
B      928
3      828
4      826
L      754
T      526
V      464
R      464
H      360
G      358
K      348
6      337
C      337
O      329
U      269
J      239
Q      202
5      166
M      113
2       65
8       62
c       26
X       20
Y       19
W       16
b       15
7       13
i        7
a        7
0        6
9        2
d        2
Z        1
Name: count, dtype: int64

In [521]:
df["country"].value_counts()

country
ES    34573
US     6291
IT     6210
PT     5392
FR     5250
      ...
PG        1
TD        1
UM        1
ZW        1
VU        1
Name: count, Length: 205, dtype: int64

In [522]:
country_counts_by_language = {}
# Iterar sobre los valores únicos de 'language'
for lang in df['language'].unique():
    # Filtrar el DataFrame por el valor actual de 'language'
    filtered_df = df[df['language'] == lang]
    # Obtener el conteo de valores de 'country' para el valor actual de 'language'
    country_counts = filtered_df['country'].value_counts()
    # Almacenar los resultados en el diccionario
    country_counts_by_language[lang] = country_counts

# Mostrar los resultados
for lang, counts in country_counts_by_language.items():
    print(f"Language: {lang}")
    print(counts)
    print("\n")

Language: S
country
ES    34478
MX     1658
AR     1457
CO      870
CL      371
      ...
DM        1
AG        1
RC        1
NP        1
BH        1
Name: count, Length: 121, dtype: int64


Language: I
country
IT    5839
BR      14
US      11
GB      10
CH       9
RO       7
AR       5
BE       5
MA       5
SM       4
GR       4
IN       3
DE       3
CN       3
FR       3
IL       3
KR       3
SE       2
UA       2
AM       2
VA       2
AL       2
MX       2
AU       2
NL       2
DK       2
VE       2
ES       2
LU       1
CA       1
CL       1
KW       1
IE       1
HR       1
AT       1
EC       1
IR       1
SG       1
SA       1
LY       1
EE       1
PH       1
PA       1
DZ       1
CO       1
NZ       1
TW       1
PT       1
RS       1
RU       1
MY       1
DO       1
Name: count, dtype: int64


Language: P
country
PT    5169
BR    1839
AO      61
CV      15
FR      10
GW      10
US       8
LU       7
ES       7
ST       5
DE       4
CH       4
AD       3
GB       3
PY       3
PR       2
CA       2
IR       2
AU       2
CZ       2
BE       2
MZ       2
UY       1
PA       1
PE       1
MY       1
SE       1
RO       1
EC       1
AE       1
GE       1
UA       1
NL       1
ID       1
MX       1
MS       1
IL       1
HU       1
NR       1
IT       1
AR       1
ZA       1
TI       1
Name: count, dtype: int64


Language: E
country
US    5951
GB    3769
CA    1015
IE     811
AU     548
      ...
SC       1
PG       1
SL       1
TG       1
VU       1
Name: count, Length: 177, dtype: int64


Language: T
country
TR    481
AZ     42
IT      1
DE      1
NL      1
Name: count, dtype: int64


Language: L
country
PL    751
NL      1
DE      1
IN      1
Name: count, dtype: int64


Language: D
country
DE    4064
CH     796
AT     784
GE       8
BE       6
NL       5
IT       4
CZ       4
US       4
LU       3
KP       2
LI       2
CL       2
IN       2
FR       2
ES       2
GB       2
AL       2
SK       2
DK       2
AU       2
AR       1
SI       1
IE       1
SZ       1
KR       1
TR       1
RS       1
HK       1
Name: count, dtype: int64


Language: 4
country
RO    790
MD     27
IT      4
DE      2
AT      1
AD      1
RU      1
Name: count, dtype: int64


Language: A
country
MA    370
SA    251
KW     94
EG     91
AE     85
DZ     75
AR     60
TN     58
JO     52
LB     41
IQ     38
OM     33
MR     30
SY     26
QA     22
BH     21
LY     14
PS     12
YE     10
IL      5
IR      5
SD      4
DE      4
SO      2
ER      2
PE      1
AW      1
BE      1
GR      1
NG      1
CO      1
AF      1
TR      1
Name: count, dtype: int64


Language: Q
country
SK    200
CZ      1
GB      1
Name: count, dtype: int64


Language: U
country
FI    269
Name: count, dtype: int64


Language: 1
country
CN    1115
TW      11
KR      10
US       9
HK       9
CH       6
GB       3
SG       3
NL       2
CA       2
FR       1
IT       1
AU       1
AT       1
DE       1
Name: count, dtype: int64


Language: N
country
NL    1523
SR       3
DE       2
BE       2
CN       1
CZ       1
US       1
KP       1
IE       1
TR       1
KR       1
Name: count, dtype: int64


Language: F
country
FR    4950
BE     796
LU      70
CH      29
MA      26
CA      21
MZ      18
CI      13
SN      12
DZ       8
CD       7
NL       7
KM       7
ML       7
RC       6
HT       6
CM       5
IT       5
BJ       5
BF       5
PT       4
TN       4
GN       4
MC       4
GR       3
GA       3
ES       3
GM       3
DE       3
NE       3
TG       3
MG       3
GB       3
RO       3
AT       3
SA       2
RE       2
CG       2
IL       2
PM       2
MR       1
BI       1
GF       1
GE       1
AR       1
DK       1
IE       1
SC       1
MU       1
TD       1
SI       1
Name: count, dtype: int64


Language: M
country
TW    93
CN    16
KR     1
CO     1
CH     1
HK     1
Name: count, dtype: int64


Language: 6
country
HR    281
BA     56
Name: count, dtype: int64


Language: J
country
JP    230
CN      6
BE      1
ES      1
LU      1
Name: count, dtype: int64


Language: G
country
GR    302
CY     52
GB      2
US      1
LU      1
Name: count, dtype: int64


Language: C
country
CZ    331
IE      1
GR      1
GB      1
US      1
CL      1
SK      1
Name: count, dtype: int64


Language: K
country
DK    344
DE      2
AT      1
SI      1
Name: count, dtype: int64


Language: 3
country
KR    793
KP     28
HK      4
DE      1
GB      1
CN      1
Name: count, dtype: int64


Language: B
country
IL    926
GR      2
Name: count, dtype: int64


Language: R
country
RU    422
EE      8
LT      8
KZ      5
UA      5
BY      4
ES      2
DE      1
IL      1
RO      1
CL      1
UZ      1
MT      1
LV      1
IT      1
FR      1
AM      1
Name: count, dtype: int64


Language: 5
country
SI    165
SL      1
Name: count, dtype: int64


Language: c
country
CA    21
ES     5
Name: count, dtype: int64


Language: H
country
HU    359
AT      1
Name: count, dtype: int64


Language: V
country
SE    460
CH      3
AT      1
Name: count, dtype: int64


Language: 9
country
EE    2
Name: count, dtype: int64


Language: O
country
NO    327
PL      1
GR      1
Name: count, dtype: int64


Language: W
country
BG    16
Name: count, dtype: int64


Language: X
country
LT    20
Name: count, dtype: int64


Language: 2
country
TH    64
IN     1
Name: count, dtype: int64


Language: 8
country
UA    58
ES     3
PL     1
Name: count, dtype: int64


Language: b
country
IS    14
PT     1
Name: count, dtype: int64


Language: 7
country
MY    7
SG    4
AU    1
VN    1
Name: count, dtype: int64


Language: i
country
ID    5
IN    2
Name: count, dtype: int64


Language: 0
country
RS    5
AR    1
Name: count, dtype: int64


Language: Y
country
LV    17
LT     2
Name: count, dtype: int64


Language: nan
Series([], Name: count, dtype: int64)


Language: a
country
AF    1
ZA    1
AD    1
CN    1
MY    1
SG    1
BR    1
Name: count, dtype: int64


Language: d
country
RS    2
Name: count, dtype: int64


Language: Z
country
AM    1
Name: count, dtype: int64

In [523]:
df2 = pd.read_csv("./data/paises.csv")

In [524]:
df2

                     name                   nombre iso
0                 Andorra                 Andorra   AD
1    United Arab Emirates  Emiratos Árabes Unidos   AE
2             Afghanistan              Afganistán   AF
3     Antigua and Barbuda       Antigua y Barbuda   AG
4                Anguilla                 Anguila   AI
..                    ...                      ...  ..
233            Yugoslavia              Yugoslavia   YU
234          South Africa               Sudáfrica   ZA
235                Zambia                  Zambia   ZM
236                 Zaire                   Zaire   ZR
237              Zimbabwe                Zimbabue   ZW

[238 rows x 3 columns]

In [525]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   language                   99998 non-null   object
 2   gender                     100000 non-null  object
 3   treatment                  100000 non-null  object
 4   customer_signup            100000 non-null  object
 5   country                    99995 non-null   object
 6   commercial_communications  6088 non-null    object
 7   communications_signup      6088 non-null    object
 8   loyalty_level              1750 non-null    object
 9   loyalty_signup             1481 non-null    object
 10  birth_date                 99674 non-null   object
 11  email                      26605 non-null   object
 12  total_reservations         59378 non-null   float64
 13  average_stay               58828 non-null   float64
 14  average_advance_booking    58910 non-null   float64
 15  billing                    59139 non-null   object
 16  reservation_channel        100000 non-null  object
 17  travel_reason              58910 non-null   object
 18  last_reservation           58836 non-null   object
 19  different_hotels           59378 non-null   float64
 20  companion                  59378 non-null   object
dtypes: float64(4), object(17)
memory usage: 16.0+ MB

In [526]:
country_counts_by_language = {}
# Iterar sobre los valores únicos de 'language'
for lang in df['language'].unique():
    # Filtrar el DataFrame por el valor actual de 'language'
    filtered_df = df[df['language'] == lang]
    # Obtener el conteo de valores de 'country' para el valor actual de 'language'
    country_counts = filtered_df['country'].value_counts()
    # Almacenar los resultados en el diccionario
    country_counts_by_language[lang] = country_counts

# Mostrar los resultados
for lang, counts in country_counts_by_language.items():
    print(f"Language: {lang}")
    print(counts)
    print("\n")

Language: S
country
ES    34478
MX     1658
AR     1457
CO      870
CL      371
      ...
DM        1
AG        1
RC        1
NP        1
BH        1
Name: count, Length: 121, dtype: int64


Language: I
country
IT    5839
BR      14
US      11
GB      10
CH       9
RO       7
AR       5
BE       5
MA       5
SM       4
GR       4
IN       3
DE       3
CN       3
FR       3
IL       3
KR       3
SE       2
UA       2
AM       2
VA       2
AL       2
MX       2
AU       2
NL       2
DK       2
VE       2
ES       2
LU       1
CA       1
CL       1
KW       1
IE       1
HR       1
AT       1
EC       1
IR       1
SG       1
SA       1
LY       1
EE       1
PH       1
PA       1
DZ       1
CO       1
NZ       1
TW       1
PT       1
RS       1
RU       1
MY       1
DO       1
Name: count, dtype: int64


Language: P
country
PT    5169
BR    1839
AO      61
CV      15
FR      10
GW      10
US       8
LU       7
ES       7
ST       5
DE       4
CH       4
AD       3
GB       3
PY       3
PR       2
CA       2
IR       2
AU       2
CZ       2
BE       2
MZ       2
UY       1
PA       1
PE       1
MY       1
SE       1
RO       1
EC       1
AE       1
GE       1
UA       1
NL       1
ID       1
MX       1
MS       1
IL       1
HU       1
NR       1
IT       1
AR       1
ZA       1
TI       1
Name: count, dtype: int64


Language: E
country
US    5951
GB    3769
CA    1015
IE     811
AU     548
      ...
SC       1
PG       1
SL       1
TG       1
VU       1
Name: count, Length: 177, dtype: int64


Language: T
country
TR    481
AZ     42
IT      1
DE      1
NL      1
Name: count, dtype: int64


Language: L
country
PL    751
NL      1
DE      1
IN      1
Name: count, dtype: int64


Language: D
country
DE    4064
CH     796
AT     784
GE       8
BE       6
NL       5
IT       4
CZ       4
US       4
LU       3
KP       2
LI       2
CL       2
IN       2
FR       2
ES       2
GB       2
AL       2
SK       2
DK       2
AU       2
AR       1
SI       1
IE       1
SZ       1
KR       1
TR       1
RS       1
HK       1
Name: count, dtype: int64


Language: 4
country
RO    790
MD     27
IT      4
DE      2
AT      1
AD      1
RU      1
Name: count, dtype: int64


Language: A
country
MA    370
SA    251
KW     94
EG     91
AE     85
DZ     75
AR     60
TN     58
JO     52
LB     41
IQ     38
OM     33
MR     30
SY     26
QA     22
BH     21
LY     14
PS     12
YE     10
IL      5
IR      5
SD      4
DE      4
SO      2
ER      2
PE      1
AW      1
BE      1
GR      1
NG      1
CO      1
AF      1
TR      1
Name: count, dtype: int64


Language: Q
country
SK    200
CZ      1
GB      1
Name: count, dtype: int64


Language: U
country
FI    269
Name: count, dtype: int64


Language: 1
country
CN    1115
TW      11
KR      10
US       9
HK       9
CH       6
GB       3
SG       3
NL       2
CA       2
FR       1
IT       1
AU       1
AT       1
DE       1
Name: count, dtype: int64


Language: N
country
NL    1523
SR       3
DE       2
BE       2
CN       1
CZ       1
US       1
KP       1
IE       1
TR       1
KR       1
Name: count, dtype: int64


Language: F
country
FR    4950
BE     796
LU      70
CH      29
MA      26
CA      21
MZ      18
CI      13
SN      12
DZ       8
CD       7
NL       7
KM       7
ML       7
RC       6
HT       6
CM       5
IT       5
BJ       5
BF       5
PT       4
TN       4
GN       4
MC       4
GR       3
GA       3
ES       3
GM       3
DE       3
NE       3
TG       3
MG       3
GB       3
RO       3
AT       3
SA       2
RE       2
CG       2
IL       2
PM       2
MR       1
BI       1
GF       1
GE       1
AR       1
DK       1
IE       1
SC       1
MU       1
TD       1
SI       1
Name: count, dtype: int64


Language: M
country
TW    93
CN    16
KR     1
CO     1
CH     1
HK     1
Name: count, dtype: int64


Language: 6
country
HR    281
BA     56
Name: count, dtype: int64


Language: J
country
JP    230
CN      6
BE      1
ES      1
LU      1
Name: count, dtype: int64


Language: G
country
GR    302
CY     52
GB      2
US      1
LU      1
Name: count, dtype: int64


Language: C
country
CZ    331
IE      1
GR      1
GB      1
US      1
CL      1
SK      1
Name: count, dtype: int64


Language: K
country
DK    344
DE      2
AT      1
SI      1
Name: count, dtype: int64


Language: 3
country
KR    793
KP     28
HK      4
DE      1
GB      1
CN      1
Name: count, dtype: int64


Language: B
country
IL    926
GR      2
Name: count, dtype: int64


Language: R
country
RU    422
EE      8
LT      8
KZ      5
UA      5
BY      4
ES      2
DE      1
IL      1
RO      1
CL      1
UZ      1
MT      1
LV      1
IT      1
FR      1
AM      1
Name: count, dtype: int64


Language: 5
country
SI    165
SL      1
Name: count, dtype: int64


Language: c
country
CA    21
ES     5
Name: count, dtype: int64


Language: H
country
HU    359
AT      1
Name: count, dtype: int64


Language: V
country
SE    460
CH      3
AT      1
Name: count, dtype: int64


Language: 9
country
EE    2
Name: count, dtype: int64


Language: O
country
NO    327
PL      1
GR      1
Name: count, dtype: int64


Language: W
country
BG    16
Name: count, dtype: int64


Language: X
country
LT    20
Name: count, dtype: int64


Language: 2
country
TH    64
IN     1
Name: count, dtype: int64


Language: 8
country
UA    58
ES     3
PL     1
Name: count, dtype: int64


Language: b
country
IS    14
PT     1
Name: count, dtype: int64


Language: 7
country
MY    7
SG    4
AU    1
VN    1
Name: count, dtype: int64


Language: i
country
ID    5
IN    2
Name: count, dtype: int64


Language: 0
country
RS    5
AR    1
Name: count, dtype: int64


Language: Y
country
LV    17
LT     2
Name: count, dtype: int64


Language: nan
Series([], Name: count, dtype: int64)


Language: a
country
AF    1
ZA    1
AD    1
CN    1
MY    1
SG    1
BR    1
Name: count, dtype: int64


Language: d
country
RS    2
Name: count, dtype: int64


Language: Z
country
AM    1
Name: count, dtype: int64

In [527]:
language_meanings = {
    'S': 'Spanish',
    'I': 'Italian',
    'P': 'Portuguese',
    'E': 'English',
    'T': 'Turkish',
    'L': 'Latvian',
    'D': 'German',
    '4': 'Romanian/Moldovan',
    'A': 'Arabic',
    'Q': 'Slovak',
    'U': 'Finnish',
    '1': 'Chinese',
    'N': 'Dutch',
    'F': 'French',
    'M': 'Mandarin',
    '6': 'Croatian/Bosnian',
    'J': 'Japanese',
    'G': 'Greek',
    'C': 'Czech',
    'K': 'Danish',
    '3': 'Korean',
    'B': 'Hebrew',
    'R': 'Russian',
    '5': 'Slovenian',
    'c': 'Catalan',
    'H': 'Hungarian',
    'V': 'Swedish',
    '9': 'Estonian',
    'O': 'Norwegian',
    'W': 'Unknown',
    'X': 'Lithuanian',
    '2': 'Thai',
    '8': 'Ukrainian',
    'b': 'Icelandic',
    '7': 'Malay/Singaporean',
    'i': 'Indonesian',
    '0': 'Argentinian',
    'Y': 'Latvian/Lithuanian',
    'nan': 'Unknown',
    'a': 'Mixed/Other',
    'd': 'Unknown',
    'Z': 'Armenian'
}

df['language_name'] = df['language'].map(language_meanings)

In [528]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   language                   99998 non-null   object
 2   gender                     100000 non-null  object
 3   treatment                  100000 non-null  object
 4   customer_signup            100000 non-null  object
 5   country                    99995 non-null   object
 6   commercial_communications  6088 non-null    object
 7   communications_signup      6088 non-null    object
 8   loyalty_level              1750 non-null    object
 9   loyalty_signup             1481 non-null    object
 10  birth_date                 99674 non-null   object
 11  email                      26605 non-null   object
 12  total_reservations         59378 non-null   float64
 13  average_stay               58828 non-null   float64
 14  average_advance_booking    58910 non-null   float64
 15  billing                    59139 non-null   object
 16  reservation_channel        100000 non-null  object
 17  travel_reason              58910 non-null   object
 18  last_reservation           58836 non-null   object
 19  different_hotels           59378 non-null   float64
 20  companion                  59378 non-null   object
 21  language_name              99998 non-null   object
dtypes: float64(4), object(18)
memory usage: 16.8+ MB

In [529]:
df['email'] = df['email'].apply(lambda x: True if x == 'MAIL' else False)

In [530]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   language                   99998 non-null   object
 2   gender                     100000 non-null  object
 3   treatment                  100000 non-null  object
 4   customer_signup            100000 non-null  object
 5   country                    99995 non-null   object
 6   commercial_communications  6088 non-null    object
 7   communications_signup      6088 non-null    object
 8   loyalty_level              1750 non-null    object
 9   loyalty_signup             1481 non-null    object
 10  birth_date                 99674 non-null   object
 11  email                      100000 non-null  bool
 12  total_reservations         59378 non-null   float64
 13  average_stay               58828 non-null   float64
 14  average_advance_booking    58910 non-null   float64
 15  billing                    59139 non-null   object
 16  reservation_channel        100000 non-null  object
 17  travel_reason              58910 non-null   object
 18  last_reservation           58836 non-null   object
 19  different_hotels           59378 non-null   float64
 20  companion                  59378 non-null   object
 21  language_name              99998 non-null   object
dtypes: bool(1), float64(4), object(17)
memory usage: 16.1+ MB

In [531]:
null_country_rows = df[df['country'].isnull()]
null_country_rows

,sequential_id,language,gender,treatment,customer_signup,country,commercial_communications,communications_signup,loyalty_level,loyalty_signup,...,total_reservations,average_stay,average_advance_booking,billing,reservation_channel,travel_reason,last_reservation,different_hotels,companion,language_name
24960,3.941.567,NaN,Otro,Otro,2022-11-06,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN,NaN
63111,1.926.581,E,mujer,Señora,2023-08-16,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,182.0,"214,6909076",Indirecto,BT,2023-08-18,1.0,Individual,English
64026,2.590.655,E,mujer,Señora,2023-05-29,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,1.0,"194,04181684",Indirecto,BT,2023-05-31,1.0,Individual,English
72140,5.762.653,E,hombre,Señor,2022-02-26,NaN,NaN,NaN,NaN,NaN,...,1.0,6.0,4.0,"371,236304",Indirecto,OTHER,2022-03-04,1.0,Individual,English
81756,1.903.863,E,mujer,Señora,2023-08-18,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,38.0,"464,13454352",Indirecto,MIXTO,2023-08-25,1.0,Individual,English

In [532]:
df.loc[df['language_name'] == 'English', 'country'] = df.loc[df['language_name'] == 'English', 'country'].fillna('US')

In [533]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   language                   99998 non-null   object
 2   gender                     100000 non-null  object
 3   treatment                  100000 non-null  object
 4   customer_signup            100000 non-null  object
 5   country                    99999 non-null   object
 6   commercial_communications  6088 non-null    object
 7   communications_signup      6088 non-null    object
 8   loyalty_level              1750 non-null    object
 9   loyalty_signup             1481 non-null    object
 10  birth_date                 99674 non-null   object
 11  email                      100000 non-null  bool
 12  total_reservations         59378 non-null   float64
 13  average_stay               58828 non-null   float64
 14  average_advance_booking    58910 non-null   float64
 15  billing                    59139 non-null   object
 16  reservation_channel        100000 non-null  object
 17  travel_reason              58910 non-null   object
 18  last_reservation           58836 non-null   object
 19  different_hotels           59378 non-null   float64
 20  companion                  59378 non-null   object
 21  language_name              99998 non-null   object
dtypes: bool(1), float64(4), object(17)
memory usage: 16.1+ MB

In [534]:
null_l_rows = df[df['language_name'].isnull()]
null_l_rows

,sequential_id,language,gender,treatment,customer_signup,country,commercial_communications,communications_signup,loyalty_level,loyalty_signup,...,total_reservations,average_stay,average_advance_booking,billing,reservation_channel,travel_reason,last_reservation,different_hotels,companion,language_name
23940,2.727.873,NaN,hombre,Señor,2023-05-12,KR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN,NaN
24960,3.941.567,NaN,Otro,Otro,2022-11-06,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN,NaN

In [535]:
df.loc[df['country'] == 'KR', 'country'] = df.loc[df['country'] == 'KR', 'language'].fillna('Korea')
df.loc[df['country'] == 'KR', 'country'] = df.loc[df['country'] == 'KR', 'language_name'].fillna('Korean')

In [536]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   language                   99998 non-null   object
 2   gender                     100000 non-null  object
 3   treatment                  100000 non-null  object
 4   customer_signup            100000 non-null  object
 5   country                    99999 non-null   object
 6   commercial_communications  6088 non-null    object
 7   communications_signup      6088 non-null    object
 8   loyalty_level              1750 non-null    object
 9   loyalty_signup             1481 non-null    object
 10  birth_date                 99674 non-null   object
 11  email                      100000 non-null  bool
 12  total_reservations         59378 non-null   float64
 13  average_stay               58828 non-null   float64
 14  average_advance_booking    58910 non-null   float64
 15  billing                    59139 non-null   object
 16  reservation_channel        100000 non-null  object
 17  travel_reason              58910 non-null   object
 18  last_reservation           58836 non-null   object
 19  different_hotels           59378 non-null   float64
 20  companion                  59378 non-null   object
 21  language_name              99998 non-null   object
dtypes: bool(1), float64(4), object(17)
memory usage: 16.1+ MB

In [537]:
df = df.drop(columns=["language"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   gender                     100000 non-null  object
 2   treatment                  100000 non-null  object
 3   customer_signup            100000 non-null  object
 4   country                    99999 non-null   object
 5   commercial_communications  6088 non-null    object
 6   communications_signup      6088 non-null    object
 7   loyalty_level              1750 non-null    object
 8   loyalty_signup             1481 non-null    object
 9   birth_date                 99674 non-null   object
 10  email                      100000 non-null  bool
 11  total_reservations         59378 non-null   float64
 12  average_stay               58828 non-null   float64
 13  average_advance_booking    58910 non-null   float64
 14  billing                    59139 non-null   object
 15  reservation_channel        100000 non-null  object
 16  travel_reason              58910 non-null   object
 17  last_reservation           58836 non-null   object
 18  different_hotels           59378 non-null   float64
 19  companion                  59378 non-null   object
 20  language_name              99998 non-null   object
dtypes: bool(1), float64(4), object(16)
memory usage: 15.4+ MB

In [538]:
df["reservation_channel"].value_counts()

reservation_channel
Error              40622
Indirecto          38628
Directo            18107
Mixto Directo       1495
Mixto Indirecto     1133
Mixto                 15
Name: count, dtype: int64

In [539]:
df["email"].value_counts()

email
False    73395
True     26605
Name: count, dtype: int64

In [540]:
for i in df.columns:
    print(df[i].value_counts())
    print("XXXXXXXXXXXXXXXX")

sequential_id
5.715.578    1
3.218.516    1
3.627.104    1
5.551.956    1
1.822.308    1
            ..
3.142.425    1
2.498.335    1
2.391.370    1
3.076.195    1
2.165.697    1
Name: count, Length: 100000, dtype: int64
XXXXXXXXXXXXXXXX
gender
hombre    51219
mujer     48343
Otro        438
Name: count, dtype: int64
XXXXXXXXXXXXXXXX
treatment
Señor             50863
Señora            47529
Señor / Señora     1133
Otro                436
Empresa              20
Agencia              19
Name: count, dtype: int64
XXXXXXXXXXXXXXXX
customer_signup
2023-04-29    236
2022-04-14    228
2022-08-12    202
2023-08-14    202
2022-08-13    200
             ...
2022-01-20     36
2022-02-02     35
2022-01-18     32
2022-01-24     32
2022-01-11     30
Name: count, Length: 850, dtype: int64
XXXXXXXXXXXXXXXX
country
ES       34573
US        6295
IT        6210
PT        5392
FR        5250
         ...
VC           1
UM           1
Korea        1
PG           1
VU           1
Name: count, Length: 213, dtype: int64
XXXXXXXXXXXXXXXX
commercial_communications
X    6088
Name: count, dtype: int64
XXXXXXXXXXXXXXXX
communications_signup
2024-05-24    37
2024-05-10    36
2024-05-28    35
2024-05-30    33
2024-05-08    33
              ..
2022-04-13     1
2022-02-24     1
2023-01-28     1
2023-07-15     1
2023-04-17     1
Name: count, Length: 871, dtype: int64
XXXXXXXXXXXXXXXX
loyalty_level
bajo     1715
medio      30
alto        5
Name: count, dtype: int64
XXXXXXXXXXXXXXXX
loyalty_signup
2024-03-24    33
2024-03-31    32
2024-04-28    31
2024-04-06    31
2024-03-05    31
              ..
2024-05-03     2
2024-06-01     2
2024-05-06     1
2024-05-02     1
2024-05-25     1
Name: count, Length: 101, dtype: int64
XXXXXXXXXXXXXXXX
birth_date
2000-02-01    45
1997-02-28    26
1990-02-01    26
1970-02-28    26
1969-02-28    26
              ..
1943-02-18     1
1945-11-09     1
2020-03-15     1
1947-12-13     1
2013-12-25     1
Name: count, Length: 24743, dtype: int64
XXXXXXXXXXXXXXXX
email
False    73395
True     26605
Name: count, dtype: int64
XXXXXXXXXXXXXXXX
total_reservations
1.0     50025
2.0      6874
3.0      1433
4.0       506
5.0       193
6.0       118
7.0        64
8.0        37
10.0       27
9.0        22
11.0       16
12.0       13
13.0        8
14.0        6
16.0        6
19.0        4
15.0        3
20.0        2
41.0        2
21.0        2
22.0        1
28.0        1
26.0        1
48.0        1
23.0        1
34.0        1
36.0        1
35.0        1
55.0        1
64.0        1
40.0        1
18.0        1
24.0        1
33.0        1
58.0        1
25.0        1
46.0        1
Name: count, dtype: int64
XXXXXXXXXXXXXXXX
average_stay
1.0      27298
2.0      15050
3.0       8316
4.0       4028
5.0       1779
6.0        792
7.0        732
0.0        198
8.0        175
9.0        122
10.0        89
11.0        56
14.0        38
12.0        35
13.0        22
15.0        14
16.0        10
17.0         8
18.0         8
20.0         5
19.0         5
25.0         5
22.0         5
21.0         4
23.0         4
24.0         3
30.0         3
31.0         3
37.0         3
33.0         2
28.0         2
27.0         2
29.0         2
38.0         1
78.0         1
82.0         1
146.0        1
50.0         1
26.0         1
184.0        1
51.0         1
73.0         1
84.0         1
Name: count, dtype: int64
XXXXXXXXXXXXXXXX
average_advance_booking
0.000      7662
1.000      4378
2.000      2800
3.000      2340
4.000      2097
           ...
711.000       1
532.000       1
779.000       1
1.126         1
539.000       1
Name: count, Length: 655, dtype: int64
XXXXXXXXXXXXXXXX
billing
0                 660
147,6             132
134,18181848      109
87,21818152        98
82                 92
                 ...
372,85550716        1
287,3879451564      1
1.091,32756632      1
91,04236304         1
815,6465462         1
Name: count, Length: 41387, dtype: int64
XXXXXXXXXXXXXXXX
reservation_channel
Error              40622
Indirecto          38628
Directo            18107
Mixto Directo       1495
Mixto Indirecto     1133
Mixto                 15
Name: count, dtype: int64
XXXXXXXXXXXXXXXX
travel_reason
LEISURE              42052
BT                   12832
MIXTO                 2461
OTHER                  773
MIXTO_BT               491
MIXTO_LEISURE          269
GRATUIDADES             27
MIXTO_OTHER              3
MIXTO_GRATUIDADES        2
Name: count, dtype: int64
XXXXXXXXXXXXXXXX
last_reservation
2024-04-28    176
2024-04-21    159
2024-04-14    158
2023-05-01    150
2023-10-15    150
             ...
2023-03-30      4
2023-03-29      2
2022-01-02      2
2023-03-28      2
2023-04-16      1
Name: count, Length: 836, dtype: int64
XXXXXXXXXXXXXXXX
different_hotels
1.0     54136
2.0      4357
3.0       639
4.0       159
5.0        45
6.0        18
10.0        7
7.0         7
8.0         5
9.0         3
11.0        1
15.0        1
Name: count, dtype: int64
XXXXXXXXXXXXXXXX
companion
Pareja                 35129
Individual             17430
Familia                 3584
Grupo                   3228
Menor sin acompañar        7
Name: count, dtype: int64
XXXXXXXXXXXXXXXX
language_name
Spanish               42649
English               20174
Portuguese             7183
French                 6073
Italian                5977
German                 5708
Dutch                  1537
Arabic                 1413
Chinese                1175
Hebrew                  928
Korean                  828
Romanian/Moldovan       826
Latvian                 754
Turkish                 526
Russian                 464
Swedish                 464
Hungarian               360
Greek                   358
Danish                  348
Croatian/Bosnian        337
Czech                   337
Norwegian               329
Finnish                 269
Japanese                239
Slovak                  202
Slovenian               166
Mandarin                113
Thai                     65
Ukrainian                62
Catalan                  26
Lithuanian               20
Latvian/Lithuanian       19
Unknown                  18
Icelandic                15
Malay/Singaporean        13
Indonesian                7
Mixed/Other               7
Argentinian               6
Estonian                  2
Armenian                  1
Name: count, dtype: int64
XXXXXXXXXXXXXXXX

#### !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [541]:
# Convertir 'total_reservations' a tipo entero
df['total_reservations'] = df['total_reservations'].fillna(0).astype(int)

# Convertir 'average_stay' a tipo entero
df['average_stay'] = df['average_stay'].fillna(0).astype(int)

# Redondear 'billing' a 2 decimales
# Primero, debemos asegurarnos de que 'billing' sea de tipo numérico (float)
df['billing'] = df['billing'].str.replace('.', '')  # Remover puntos de miles
df['billing'] = df['billing'].str.replace(',', '.')  # Reemplazar comas por puntos
df['billing'] = pd.to_numeric(df['billing'])

# Verificar las transformaciones
print(df['total_reservations'].dtype)
print(df['average_stay'].dtype)
print(df['billing'].head())

int32
int32
0           NaN
1           NaN
2           NaN
3           NaN
4    118.897104
Name: billing, dtype: float64

#### !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [542]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   gender                     100000 non-null  object
 2   treatment                  100000 non-null  object
 3   customer_signup            100000 non-null  object
 4   country                    99999 non-null   object
 5   commercial_communications  6088 non-null    object
 6   communications_signup      6088 non-null    object
 7   loyalty_level              1750 non-null    object
 8   loyalty_signup             1481 non-null    object
 9   birth_date                 99674 non-null   object
 10  email                      100000 non-null  bool
 11  total_reservations         100000 non-null  int32
 12  average_stay               100000 non-null  int32
 13  average_advance_booking    58910 non-null   float64
 14  billing                    59139 non-null   float64
 15  reservation_channel        100000 non-null  object
 16  travel_reason              58910 non-null   object
 17  last_reservation           58836 non-null   object
 18  different_hotels           59378 non-null   float64
 19  companion                  59378 non-null   object
 20  language_name              99998 non-null   object
dtypes: bool(1), float64(3), int32(2), object(15)
memory usage: 14.6+ MB

In [543]:
# Convertir 'average_advance_booking' a tipo entero y manejar valores no convertibles
df['average_advance_booking'] = pd.to_numeric(df['average_advance_booking'], errors='coerce').fillna(0).astype(int)
df['last_reservation'] = pd.to_datetime(df['last_reservation'], errors='coerce')
df['birth_date'] = pd.to_datetime(df['birth_date'], errors='coerce')
df['loyalty_signup'] = pd.to_datetime(df['loyalty_signup'], errors='coerce')
df['communications_signup'] = pd.to_datetime(df['communications_signup'], errors='coerce')

In [544]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   gender                     100000 non-null  object
 2   treatment                  100000 non-null  object
 3   customer_signup            100000 non-null  object
 4   country                    99999 non-null   object
 5   commercial_communications  6088 non-null    object
 6   communications_signup      6088 non-null    datetime64[ns]
 7   loyalty_level              1750 non-null    object
 8   loyalty_signup             1481 non-null    datetime64[ns]
 9   birth_date                 99674 non-null   datetime64[ns]
 10  email                      100000 non-null  bool
 11  total_reservations         100000 non-null  int32
 12  average_stay               100000 non-null  int32
 13  average_advance_booking    100000 non-null  int32
 14  billing                    59139 non-null   float64
 15  reservation_channel        100000 non-null  object
 16  travel_reason              58910 non-null   object
 17  last_reservation           58836 non-null   datetime64[ns]
 18  different_hotels           59378 non-null   float64
 19  companion                  59378 non-null   object
 20  language_name              99998 non-null   object
dtypes: bool(1), datetime64[ns](4), float64(2), int32(3), object(11)
memory usage: 14.2+ MB

In [545]:
current_date = datetime.now()
df['age'] = df['birth_date'].apply(lambda x: current_date.year - x.year - ((current_date.month, current_date.day) < (x.month, x.day)) if pd.notnull(x) else None)

In [546]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sequential_id              100000 non-null  object
 1   gender                     100000 non-null  object
 2   treatment                  100000 non-null  object
 3   customer_signup            100000 non-null  object
 4   country                    99999 non-null   object
 5   commercial_communications  6088 non-null    object
 6   communications_signup      6088 non-null    datetime64[ns]
 7   loyalty_level              1750 non-null    object
 8   loyalty_signup             1481 non-null    datetime64[ns]
 9   birth_date                 99674 non-null   datetime64[ns]
 10  email                      100000 non-null  bool
 11  total_reservations         100000 non-null  int32
 12  average_stay               100000 non-null  int32
 13  average_advance_booking    100000 non-null  int32
 14  billing                    59139 non-null   float64
 15  reservation_channel        100000 non-null  object
 16  travel_reason              58910 non-null   object
 17  last_reservation           58836 non-null   datetime64[ns]
 18  different_hotels           59378 non-null   float64
 19  companion                  59378 non-null   object
 20  language_name              99998 non-null   object
 21  age                        99674 non-null   float64
dtypes: bool(1), datetime64[ns](4), float64(3), int32(3), object(11)
memory usage: 15.0+ MB

In [547]:
null_b_rows = df[df['age'].isnull()]
null_b_rows

,sequential_id,gender,treatment,customer_signup,country,commercial_communications,communications_signup,loyalty_level,loyalty_signup,birth_date,...,average_stay,average_advance_booking,billing,reservation_channel,travel_reason,last_reservation,different_hotels,companion,language_name,age
530,441.345,Otro,Otro,2024-03-06,E,NaN,NaT,bajo,2024-03-04,NaT,...,0,0,NaN,Error,NaN,NaT,NaN,NaN,English,NaN
1046,229.693,Otro,Otro,2024-04-03,BE,X,2024-05-16,bajo,2024-04-01,NaT,...,0,0,NaN,Error,NaN,NaT,NaN,NaN,English,NaN
1117,177.680,Otro,Otro,2024-04-09,ES,X,2024-05-22,bajo,2024-04-07,NaT,...,0,0,393.600000,Directo,NaN,NaT,1.0,Pareja,Spanish,NaN
1216,18.478,Otro,Otro,2024-04-28,HK,X,2024-06-10,bajo,2024-04-26,NaT,...,0,0,NaN,Error,NaN,NaT,NaN,NaN,English,NaN
1478,392.642,Otro,Otro,2024-03-13,US,X,2024-04-25,bajo,2024-03-11,NaT,...,0,0,NaN,Directo,NaN,NaT,1.0,Pareja,English,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98334,534.419,Otro,Otro,2024-02-22,MX,X,2024-04-05,bajo,NaT,NaT,...,1,5,72.298828,Directo,BT,2024-02-28,1.0,Individual,Spanish,NaN
98370,93.886,Otro,Otro,2024-04-20,AT,X,2024-06-02,bajo,2024-04-18,NaT,...,0,0,0.000000,Directo,NaN,NaT,1.0,Individual,German,NaN
98594,223.650,Otro,Otro,2024-04-04,ES,X,2024-05-17,bajo,2024-04-02,NaT,...,0,0,NaN,Directo,NaN,NaT,1.0,Pareja,English,NaN
99702,194.085,Otro,Otro,2024-04-07,ES,X,2024-05-20,bajo,2024-04-05,NaT,...,0,0,402.545455,Directo,NaN,NaT,1.0,Pareja,Spanish,NaN
99791,503.547,Otro,Otro,2024-02-26,IE,NaN,NaT,bajo,NaT,NaT,...,0,0,324.572859,Directo,NaN,NaT,1.0,Pareja,English,NaN

In [548]:
for i in null_b_rows.columns:
    print(null_b_rows[i].value_counts())
    print("XXXXXXXXXXXXXXXXXXXXXX")
    print("XXXXXXXXXXXXXXXXXXXXXX")
    print("XXXXXXXXXXXXXXXXXXXXXX")
    print("XXXXXXXXXXXXXXXXXXXXXX")

sequential_id
441.345    1
225.997    1
162.421    1
307.907    1
414.913    1
          ..
402.047    1
414.939    1
247.385    1
117.307    1
503.547    1
Name: count, Length: 326, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
gender
Otro     325
mujer      1
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
treatment
Otro              323
Señor / Señora      2
Señora              1
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
customer_signup
2024-03-10    13
2024-02-29    12
2024-03-26    11
2024-02-22     9
2024-04-16     9
              ..
2024-02-28     1
2022-11-06     1
2024-04-19     1
2024-04-06     1
2024-04-22     1
Name: count, Length: 69, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
country
ES    106
US     51
IT     16
PT     11
NL     11
FR     11
GB     11
DE      9
BR      8
CH      8
AR      6
AT      5
BE      5
CA      5
IE      4
MX      4
DK      3
PL      3
CL      3
RU      3
IL      3
AU      3
SK      2
EC      2
HK      2
CO      2
VE      2
SI      2
BA      1
SA      1
NO      1
AM      1
LU      1
SV      1
HU      1
PR      1
BG      1
SE      1
E       1
BY      1
ZA      1
BO      1
IN      1
LV      1
KP      1
CN      1
PA      1
TR      1
EE      1
EG      1
GR      1
SG      1
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
commercial_communications
X    189
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
communications_signup
2024-05-29    8
2024-05-24    8
2024-05-08    7
2024-05-18    7
2024-05-20    7
             ..
2024-04-26    1
2024-06-01    1
2024-05-05    1
2024-04-17    1
2024-04-09    1
Name: count, Length: 61, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
loyalty_level
bajo    325
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
loyalty_signup
2024-03-08    13
2024-03-24    11
2024-04-14     9
2024-03-04     8
2024-03-23     8
2024-03-11     8
2024-04-09     8
2024-03-05     8
2024-04-01     7
2024-04-28     7
2024-03-09     7
2024-04-05     7
2024-04-26     7
2024-03-22     6
2024-04-15     6
2024-04-02     6
2024-03-17     6
2024-03-03     5
2024-04-18     5
2024-03-18     5
2024-04-12     5
2024-03-25     5
2024-03-20     5
2024-04-03     5
2024-04-13     5
2024-03-31     4
2024-03-15     4
2024-04-06     4
2024-03-07     4
2024-04-07     4
2024-04-16     4
2024-03-14     4
2024-04-23     4
2024-03-29     4
2024-03-21     4
2024-03-19     4
2024-03-27     4
2024-03-26     4
2024-03-12     4
2024-03-16     3
2024-04-10     3
2024-04-22     3
2024-04-24     3
2024-04-21     3
2024-03-10     3
2024-04-27     3
2024-03-28     3
2024-02-28     3
2024-04-25     3
2024-02-29     2
2024-03-02     2
2024-04-19     2
2024-03-30     2
2024-03-13     2
2024-03-06     2
2024-04-08     2
2024-04-17     1
2024-04-04     1
2024-03-01     1
2024-04-20     1
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
Series([], Name: count, dtype: int64)
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
email
True     325
False      1
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
total_reservations
1    217
0     66
2     34
3      5
5      2
8      1
4      1
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
average_stay
0    270
1     29
2     16
3      7
4      3
5      1
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
average_advance_booking
0     276
1       8
6       7
3       7
2       4
13      3
4       3
5       3
8       3
27      2
18      1
7       1
26      1
11      1
16      1
12      1
14      1
22      1
25      1
10      1
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
billing
0.000000       13
194.563637      2
83.490909       2
268.363637      2
393.600000      1
               ..
250.506633      1
1848.727267     1
207.385455      1
357.818182      1
324.572859      1
Name: count, Length: 188, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
reservation_channel
Directo    260
Error       66
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
travel_reason
LEISURE     45
BT           9
MIXTO        1
MIXTO_BT     1
OTHER        1
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
last_reservation
2024-03-24    6
2024-03-26    5
2024-03-03    4
2024-03-28    3
2024-03-01    3
2024-02-28    3
2024-03-14    2
2024-02-25    2
2024-03-25    2
2024-02-29    2
2024-03-17    2
2024-03-27    2
2024-03-02    2
2024-03-22    2
2024-03-07    2
2024-03-11    2
2024-03-19    2
2024-03-29    1
2024-03-10    1
2024-03-21    1
2024-03-16    1
2024-03-04    1
2024-03-23    1
2024-03-09    1
2024-03-20    1
2024-03-13    1
2024-04-01    1
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
different_hotels
1.0    254
2.0      5
3.0      1
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
companion
Pareja        182
Individual     44
Grupo          19
Familia        15
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
language_name
Spanish       136
English       118
Portuguese     19
German         19
French         13
Italian        12
Dutch           7
Russian         1
Name: count, dtype: int64
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
Series([], Name: count, dtype: int64)
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXX

In [549]:
'''Voy a borrar los null de birth porque no me aportan nada de informacion sobre el cliente, tienen null la edad, el genero y en tratamiento y considero estos datos 
cruciales'''

df = df.dropna(subset=['age'])

In [550]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99674 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   sequential_id              99674 non-null  object
 1   gender                     99674 non-null  object
 2   treatment                  99674 non-null  object
 3   customer_signup            99674 non-null  object
 4   country                    99674 non-null  object
 5   commercial_communications  5899 non-null   object
 6   communications_signup      5899 non-null   datetime64[ns]
 7   loyalty_level              1425 non-null   object
 8   loyalty_signup             1205 non-null   datetime64[ns]
 9   birth_date                 99674 non-null  datetime64[ns]
 10  email                      99674 non-null  bool
 11  total_reservations         99674 non-null  int32
 12  average_stay               99674 non-null  int32
 13  average_advance_booking    99674 non-null  int32
 14  billing                    58936 non-null  float64
 15  reservation_channel        99674 non-null  object
 16  travel_reason              58853 non-null  object
 17  last_reservation           58780 non-null  datetime64[ns]
 18  different_hotels           59118 non-null  float64
 19  companion                  59118 non-null  object
 20  language_name              99673 non-null  object
 21  age                        99674 non-null  float64
dtypes: bool(1), datetime64[ns](4), float64(3), int32(3), object(11)
memory usage: 15.7+ MB

In [551]:
null_l_rows = df[df['language_name'].isnull()]
null_l_rows

,sequential_id,gender,treatment,customer_signup,country,commercial_communications,communications_signup,loyalty_level,loyalty_signup,birth_date,...,average_stay,average_advance_booking,billing,reservation_channel,travel_reason,last_reservation,different_hotels,companion,language_name,age
23940,2.727.873,hombre,Señor,2023-05-12,Korea,NaN,NaT,NaN,NaT,1969-04-26,...,0,0,NaN,Error,NaN,NaT,NaN,NaN,NaN,55.0

In [552]:
df = df.dropna(subset=['language_name'])

In [553]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99673 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   sequential_id              99673 non-null  object
 1   gender                     99673 non-null  object
 2   treatment                  99673 non-null  object
 3   customer_signup            99673 non-null  object
 4   country                    99673 non-null  object
 5   commercial_communications  5899 non-null   object
 6   communications_signup      5899 non-null   datetime64[ns]
 7   loyalty_level              1425 non-null   object
 8   loyalty_signup             1205 non-null   datetime64[ns]
 9   birth_date                 99673 non-null  datetime64[ns]
 10  email                      99673 non-null  bool
 11  total_reservations         99673 non-null  int32
 12  average_stay               99673 non-null  int32
 13  average_advance_booking    99673 non-null  int32
 14  billing                    58936 non-null  float64
 15  reservation_channel        99673 non-null  object
 16  travel_reason              58853 non-null  object
 17  last_reservation           58780 non-null  datetime64[ns]
 18  different_hotels           59118 non-null  float64
 19  companion                  59118 non-null  object
 20  language_name              99673 non-null  object
 21  age                        99673 non-null  float64
dtypes: bool(1), datetime64[ns](4), float64(3), int32(3), object(11)
memory usage: 15.7+ MB

In [554]:
df["companion"].value_counts()

companion
Pareja                 34947
Individual             17386
Familia                 3569
Grupo                   3209
Menor sin acompañar        7
Name: count, dtype: int64

In [555]:
df_cortado = df[df['companion'].notnull()]

In [556]:
df_cortado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59118 entries, 4 to 99999
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   sequential_id              59118 non-null  object
 1   gender                     59118 non-null  object
 2   treatment                  59118 non-null  object
 3   customer_signup            59118 non-null  object
 4   country                    59118 non-null  object
 5   commercial_communications  5034 non-null   object
 6   communications_signup      5034 non-null   datetime64[ns]
 7   loyalty_level              1300 non-null   object
 8   loyalty_signup             1097 non-null   datetime64[ns]
 9   birth_date                 59118 non-null  datetime64[ns]
 10  email                      59118 non-null  bool
 11  total_reservations         59118 non-null  int32
 12  average_stay               59118 non-null  int32
 13  average_advance_booking    59118 non-null  int32
 14  billing                    58936 non-null  float64
 15  reservation_channel        59118 non-null  object
 16  travel_reason              58853 non-null  object
 17  last_reservation           58780 non-null  datetime64[ns]
 18  different_hotels           59118 non-null  float64
 19  companion                  59118 non-null  object
 20  language_name              59118 non-null  object
 21  age                        59118 non-null  float64
dtypes: bool(1), datetime64[ns](4), float64(3), int32(3), object(11)
memory usage: 9.3+ MB

In [557]:
df_cortado["billing"].value_counts()

billing
0.000000       647
147.600000     132
134.181818     109
87.218182       98
93.927272       92
              ...
91.042363        1
309.289091       1
481.176000       1
1068.087274      1
815.646546       1
Name: count, Length: 41284, dtype: int64

In [558]:
df["billing"].value_counts()

billing
0.000000       647
147.600000     132
134.181818     109
87.218182       98
93.927272       92
              ...
91.042363        1
309.289091       1
481.176000       1
1068.087274      1
815.646546       1
Name: count, Length: 41284, dtype: int64

In [559]:
value_counts_commercial_communications = df['commercial_communications'].value_counts()
value_counts_communications_signup = df['communications_signup'].value_counts()
value_counts_loyalty_level = df['loyalty_level'].value_counts()
value_counts_loyalty_signup = df['loyalty_signup'].value_counts()

print(value_counts_commercial_communications)
print(value_counts_communications_signup)
print(value_counts_loyalty_level)
print(value_counts_loyalty_signup)

commercial_communications
X    5899
Name: count, dtype: int64
communications_signup
2024-05-10    34
2024-05-25    30
2024-05-28    30
2024-05-24    29
2024-05-21    28
              ..
2024-01-15     1
2023-04-06     1
2023-08-31     1
2024-02-27     1
2023-04-17     1
Name: count, Length: 871, dtype: int64
loyalty_level
bajo     1390
medio      30
alto        5
Name: count, dtype: int64
loyalty_signup
2024-03-31    28
2024-04-06    27
2024-04-28    24
2024-04-02    24
2024-03-13    24
              ..
2024-05-17     2
2024-02-20     2
2024-05-06     1
2024-05-02     1
2024-05-25     1
Name: count, Length: 101, dtype: int64

In [560]:
import matplotlib.pyplot as plt
import seaborn as sns

# Supongamos que tenemos un DataFrame df con las columnas mencionadas
def plot_categorical_columns(df):
    # Identificar las columnas categóricas
    categorical_columns = df.select_dtypes(include=['object', 'bool']).columns

    # Crear una figura para los gráficos
    plt.figure(figsize=(20, 15))

    # Iterar sobre las columnas categóricas y generar gráficos de barras
    for i, column in enumerate(categorical_columns, 1):
        plt.subplot(4, 4, i)  # Ajustar para más columnas si es necesario
        sns.countplot(y=df[column], palette="viridis")
        plt.title(f'Count of {column}')
        plt.xlabel('Count')
        plt.ylabel(column)

    plt.tight_layout()
    plt.show()